<ion-view title="About" class="about" hide-nav-bar="true">


<script id="editpop.html" type="text/ng-template">
  <ion-modal-view class="dreamer">
      <ion-header-bar class="modalhead">
        <h1 class="title">Edit {{monstername}}</h1>
        <button class="button button-icon icon ion-ios-close-empty" on-tap="closeeditModal()" style="color: #2C3E50;"></button>
      </ion-header-bar>
      <ion-content>
        <form name="signUpForm" ng-submit="submit(signUpForm, form)" novalidate>
        <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Creature Name</span>
          <input type="text" placeholder="Eleven" name="name" ng-model="monsters.name" required>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Creature Description <!-- <i class="ion-ios-help-outline" on-tap="Monsterdesc($event)" class="help"></i> --></span>

          <textarea ng-model="monsters.desc" placeholder="A girl with pyschic abilites. She eats Eggos and tends to run from evil government agencies"></textarea>

        </label>


         <label class="item item-input item-stacked-label" >
          <span class="input-label">Creature Enviroment</span>
            <ion-radio ng-model="monsters.enviroment" ng-value="'City'" class="radiobutton" name="enviroment">City</ion-radio>
            <ion-radio ng-model="monsters.enviroment" ng-value="'Space'" class="radiobutton" name="enviroment">Space</ion-radio>
            <ion-radio ng-model="monsters.enviroment" ng-value="'Forest'" class="radiobutton" name="enviroment">Forest</ion-radio>
            <ion-radio ng-model="monsters.enviroment" ng-value="'Swamp'" class="radiobutton" name="enviroment">Swamp</ion-radio>
            <ion-radio ng-model="monsters.enviroment" ng-value="'Sea'" class="radiobutton" name="enviroment">Sea</ion-radio>
            <ion-radio ng-model="monsters.enviroment" ng-value="'Desert'" class="radiobutton" name="enviroment">Desert</ion-radio>
            <ion-radio ng-model="monsters.enviroment" ng-value="'Plains'" class="radiobutton" name="enviroment">Plains</ion-radio>
        </label>




        <div class="specialtimeusseupload">

          <div ng-if="!isfromimageurl">

            <span class="input-label">Creature Image</span>

            <!-- <img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
              <img class="myimage" ng-src="{{me}}" ng-if="me"> -->

              <!-- setTimeout(function() {}, 0) -->
              <div class="filewrapper">
            <div id="upload-file-container" onclick="document.getElementById('file').click();">
              <input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()"/>
              <div class="addimage">Upload Image</div>
            </div>
          </div>

          <span class="ortext"> OR </span>
          <div class="addfro" ng-click="fromimageurl()">Add From URL</div>
        </div>

        <div ng-if="isfromimageurl">
            <span class="input-label">Creature Image URL <i class="ion-backspace-outline" on-tap="nahfromimageurl()" class="help"></i></span>
            <input type="url" placeholder="http://kingofwallpapers.com/monster/monster-005.jpg"  ng-model="monsters.imgurl">
          </div>

        </div>

         <label class="item item-stacked-label imageitem">
          <span class="input-label">Image Preview</span>

          <div ng-if="!me" class="dreamerimage" style="background-image: url({{monsters.imgurl}}), url(img/noimage.jpeg); {{monsters.CustomCss}}"></div>

          <div ng-if="me" class="dreamerimage" style="background-image: url({{me}}), url('https://static.tumblr.com/e576da3c7f2a41b5a1beb62c9fc63559/ft9ggpw/LfIomgpzr/tumblr_static_6rklu7mtffs4o8gwwgw84kg4k.gif'); {{monsters.CustomCss}}"></div>
        </label>

        <label class="item item-input item-stacked-label" >
          <span class="input-label">Creature Image Position</span>
            <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center !important'" class="radiobutton" name="CustomCss">Center</ion-radio>
            <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: left !important'" class="radiobutton" name="CustomCss">Left</ion-radio>
            <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: right !important'" class="radiobutton" name="CustomCss">Right</ion-radio>
            <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center top !important'" class="radiobutton" name="CustomCss">Top</ion-radio>
            <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center bottom !important'" class="radiobutton" name="CustomCss">Bottom</ion-radio>
        </label>

        <label class="item item-input item-stacked-label">
          <span class="input-label">Creature Artists</span>
          <input type="text" placeholder="The Duffer Brothers" ng-model="monsters.artist">
        </label>

        <label class="item item-input item-stacked-label" >
          <span class="input-label">Creature Rarity</span>
            <ion-radio ng-model="monsters.rarity" ng-value="'Common'" class="radiobutton" name="rareity">Common - 20% Acceptance Rate</ion-radio>
            <ion-radio ng-model="monsters.rarity" ng-value="'Uncommon'" class="radiobutton" name="rareity">Uncommon - 10% Acceptance Rate</ion-radio>
            <ion-radio ng-model="monsters.rarity" ng-value="'Rare'" class="radiobutton" name="rareity">Rare - 6% Acceptance Rate</ion-radio>
            <ion-radio ng-model="monsters.rarity" ng-value="'Super Rare'" class="radiobutton" name="rareity">Super Rare - 3% Acceptance Rate</ion-radio>
            <ion-radio ng-model="monsters.rarity" ng-value="'Mysterious'" class="radiobutton" name="rareity">Mysterious - 1% Acceptance Rate</ion-radio>
        </label>

        <div class="collectable" ng-click="collect()" ng-if="!cancollect">Make Creature Collectable?</div>

        <label class="item item-input item-stacked-label" ng-if="cancollect">
          <span class="input-label">Collectable Count</span>
          <input type="number" placeholder="100" ng-model="monsters.collectorcount">
        </label>

      </div>

      <button class="button submitbutton" type="submit" value="submit" on-tap="submitedit(monsterid)">Confirm Changes</button>
      </form>
      <br />
      <br />
      </ion-content>
  </ion-modal-view>
</script>

  <script id="adminreq.html" type="text/ng-template" >

  <ion-view class="monsters">

        <ion-header-bar class="modalhead">
          <button ng-click="traitemode()" class="button button-clear button-positive" style="color: #2C3E50; font-family: regular;"><label ng-if="!traits">Trait's</label><label ng-if="traits">Creatures</label></button>
          <div class="h1 title" style="color: #2C3E50; font-family: bold;">Requests</div>
          <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()" style="color: #2C3E50"></button>
        </ion-header-bar>

        <div ng-if="traits" class="traitsmode traitsbrick">
          <ion-content>
            <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'Neutral' && !traite.approved" on-hold="approvetrait(traite)" style="color: #264348; border-color: #264348;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DEF <br /> {{traite.Defense}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>
              
            <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'City' && !traite.approved" on-hold="approvetrait(traite)" style="color: #6C7A89; border-color: #6C7A89;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DEF <br /> {{traite.Defense}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>

              <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'Space' && !traite.approved" on-hold="approvetrait(traite)" style="color: black; border-color: black;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DEF <br /> {{traite.Defense}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>


              <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'Forest' && !traite.approved" on-hold="approvetrait(traite)" style="color: #006442; border-color: #006442;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DEF <br /> {{traite.Defense}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>


              <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'Swamp' && !traite.approved" on-hold="approvetrait(traite)" style="color: #407A52; border-color: #407A52;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DEF <br /> {{traite.Defense}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>


              <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'Sea' && !traite.approved" on-hold="approvetrait(traite)" style="color: #1F4788; border-color: #1F4788;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DEF <br /> {{traite.Defense}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>


              <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'Desert' && !traite.approved" on-hold="approvetrait(traite)" style="color: #E2B13C; border-color: #E2B13C;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DEF <br /> {{traite.Defense}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>


              <div class="traittoken" ng-repeat="traite in traites" ng-if="traite.Enviroment == 'Plains' && !traite.approved" on-hold="approvetrait(traite)" style="color: #E68364; border-color: #E68364;">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                  <li>ATK <br /> {{traite.Attack}}</li>
                  <li>DMG <br /> {{traite.Damage}}</li>
                  <li>STN <br /> {{traite.Stun}}</li>
                </ul>
              </div>
            </ion-content>
        </div>  

        <div ng-if="!traits">
          <ion-content scroll="false"  style="margin-top: 8vh;">
            <ion-slides  options="options" slider="data.slider" data-ng-init="init()">
              <ion-slide-page ng-repeat="monster in monsters" ng-if="monster.approved == 'pend'"  style="z-index: 900;">

                    <div class="image" style="background-image: url('{{monster.imgurl}}');">
                      <h1>{{monster.name}}</h1>
                    </div>


                  <div class="backwhite">
                    <ion-content>
                      <h4 ng-if="monster.enviroment == 'Forest'" style="color: #26C281">Forest</h4>
                      <h4 ng-if="monster.enviroment == 'Swamp'" style="color: #407A52">Swamp</h4>
                      <h4 ng-if="monster.enviroment == 'Sea'" style="color: #317589">Sea</h4>
                      <h4 ng-if="monster.enviroment == 'Desert'" style="color: #E08A1E">Desert</h4>
                      <h4 ng-if="monster.enviroment == 'Plains'" style="color: #6C7A89">Plains</h4>
                      <h3>Art by: <b>{{monster.artist}}</b></h3>
                      <p>{{monster.desc}} <br /><br /></p>
                    </ion-content>
                    <hr />
                    <i class="icon ion-ios-checkmark-empty" style="font-size: 55px; margin-top: -17px; position: absolute; padding-left: 15px !important; color: #26C281;" on-tap="approve(monster)"></i>
                        <h2>{{monster.rarity}}</h2>
                    <i class="icon ion-edit" style="font-size: 26px; margin-top: -5px; position: absolute; padding-left: 55px !important; color: #34495E;" ng-click="showeditmodal(monster)" ng-if="monster.approved == true"></i>
                     <i class="icon ion-ios-close-empty" on-tap="disapprove(monster)" style="font-size: 55px; padding-right: 15px; float: right; color: #C3272B; margin-top: -50px;"></i>
                  </div>

              </ion-slide-page>
            </ion-slides>
          </ion-content>
        </div>
    </ion-view>
  </script>

  <h1>Venator</h1>
  <span class="backtri icon-sidetri" ui-sref="tab.settings"></span>

  <span class="scanner icon-uptri"></span>

  <div class="card firstcard" style="margin-top: 90%; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; text-align: center; font-family: bold; width: 40vw;">
    <div class="item item-text-wrap">
      Version 3.0.0
    </div>
  </div>


  <button class="button contbutton" ng-click="adminlogin()">Admin Access</button>
  <p class="useridspitoutonabout">Logged in with ID: {{username}}</p>

</ion-view>
