<ion-view class="ack" hide-nav-bar="true" >
	<button class="button button-icon icon ion-ios-arrow-back ackclsoe" ui-sref="tab.settings" style="color: #6F5F5C !important;"></button>

	<ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" style="padding: none">
	  <ion-slide>
	    <h1>Acknowledgement</h1>
	    <p>The development of this application can partly be credited to the fantastic television series created by the Duffer Brothers, entitled Stranger Things. It is available on <a href="https://www.netflix.com/title/80057281">Netflix</a>.</p>
	   <!--  <span> Click To Continue </span> -->
	    <img src="img/trans.png">
	  </ion-slide>
	  <ion-slide>
	    <div class="box yellow"><h1>YELLOW</h1></div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box pink"><h1>PINK</h1></div>
	  </ion-slide>
	</ion-slide-box>

</ion-view>
