<ion-view title="Creaturepedia" class="monsters" hide-nav-bar="true">

    <script id="owned.html" type="text/ng-template">
        <div class="toppop">

            <div class="image" style="background-image: url('{{Monsterimg}}');">
                <h1>{{Monstername}}</h1>
            </div>

            <div class="backwhite">
                <ion-content style="height: 300px; margin-top: -10px;">

                    <div ng-if="!Monstertype">
                        <h4 ng-if="Monsterenvo == 'Forest'" style="color: #26C281">Forest</h4>
                        <h4 ng-if="Monsterenvo == 'Swamp'" style="color: #407A52">Swamp</h4>
                        <h4 ng-if="Monsterenvo == 'Sea'" style="color: #317589">Sea</h4>
                        <h4 ng-if="Monsterenvo == 'Desert'" style="color: #E08A1E">Desert</h4>
                        <h4 ng-if="Monsterenvo == 'Plains'" style="color: #6C7A89">Plains</h4>
                        <h4 ng-if="Monsterenvo == 'City'" style="color: #7f8c8d">City</h4>
                        <h4 ng-if="Monsterenvo == 'Space'" style="color: #2c3e50">Space</h4>
                    </div>

                    <div ng-if="Monstertype">
                        <h4>{{Monstertype}}</h4>
                    </div>

                    <h3>Art by: <b>{{Monsterart}}</b></h3>
                    <p>{{Monsterdesc}}
                        <br />
                        <br />
                    </p>
                </ion-content>
                <hr />

                <h2>{{Monsterrarity}}</h2>

            </div>
        </div>
    </script>

    <ion-content on-swipe-right="gotodash()">

        <h1 class="pedia">Creaturepedia</h1>

        <span class="backtri icon-square" ui-sref="tab.monsters"></span>

        <ion-spinner class="spinner barcodeloadspin" icon="ripple" ng-if="!barloading"></ion-spinner>

        <div ng-if="barloading">
            <br /> <span class="monstertopsharetext" style="text-align: center; justify-content: center;">The following has been collated thanks to the Creature Identifying Society, Earth&#8482;</span>

            <div class="row shuffleherdownson" style="flex-wrap: wrap">
                <div class="col col-50 mainimageblock" ng-repeat="themonster in themonsters | orderBy:'id'" ng-hide="themonster.Approved == 'pend'">

                    <div ng-hide="isUserMonster(themonster)">
                        <div class="mainimage blankimage" on-tap="nomonster(themonster)" style="background-image: url('{{themonster.ImgUrl}}'), url(img/skull.gif); background-color: #fff; {{themonster.CustomCss}};">
                        </div>

                        <h2 style="color: #89C4F4 !important"><label ng-show="themonster.Approved == true">#{{themonster.id}} Unidentified</label><label ng-show="themonster.Approved == false">#{{themonster.id}} Extinct Being</label></h2>
                    </div>

                    <div ng-show="isUserMonster(themonster)">
                        <div class="mainimage" on-tap="openModal2(themonster)" style="background-image: url('{{themonster.ImgUrl}}'), url(img/skull.gif);background-color: #fff; {{themonster.CustomCss}};"></div>
                        <h2> #{{themonster.id}} {{themonster.Name}}</h2>
                    </div>

                </div>
            </div>


            <p ng-show="(usersRefs | filter:search).length == 0" class="emptyseach">Nothing Found</p>
        </div>
    </ion-content>

</ion-view>