<ion-view class="battleAI" hide-nav-bar="true">

  <div class="topcard">
  	<div class="coreimageback" style="background-image: url({{randomMonsterImage}}), url(img/skull.gif); {{randomCustomCss}};"></div>
	<h1 ng-show="randomMonsterName">{{randomMonsterName}}</h1>
	<h1 ng-hide="randomMonsterName">Loading...</h1>

  	<h2 ng-if="randomMonsterRarity =='Mysterious'" style="color: #E29C45" >&bull; {{randomMonsterRarity}} &bull;</h2>
  	<h2 ng-if="randomMonsterRarity !='Mysterious'">&bull; {{randomMonsterRarity}} &bull;</h2>

  	<img class="enemyship" src="img/enemies/{{enemyimage}}.png">
  	<h4>{{shipName}}</h4>
  	<h3>Lvl. {{AIMaxLevel}}</h3>

  	<div class="statsbox">
      <span class="input-label">Enemy Shield - <span ng-if="!edef">0</span><span ng-if="edef">{{edef}}</span></span>
      <progress max="500" value="{{edef}}" class="defenseRange"></progress>

      <span class="input-label">Enemy Health - <span ng-if="!totalHealth || totalHealth <= 0">0</span><span ng-if="totalHealth">{{totalHealth}}</span></span>
  		<progress max="{{maxehp}}" value="{{totalHealth}}" class="healthRange"></progress>

		  <span class="input-label">Enemy Attack - <span ng-if="!eatk">0</span><span ng-if="eatk">{{eatk}}</span></span>
  		<progress max="500" value="{{eatk}}" class="attackRange"></progress>

		  <span class="input-label">Enemy Stun Points - <span ng-if="!estn">0</span><span ng-if="estn">{{estn}}</span></span>
  		<progress max="500" value="{{estn}}" class="stunRange"></progress>
  	</div>
  </div>

  <div class="cardarea">
  	<div ng-if="playermode == 1" style="height: 100%">

	  	<div class="chipboundries">
	  		<div class="creaturechips" ng-repeat="creature in creatures" style="background-image: url({{creature.image}}), url(img/skull.gif); {{creature.CustomCss}}; filter: {{creature.Shiny}}" ng-click="showMoreCInfo(creature)"></div>
	  	</div>

	  	<div class="chipinfoboundries" >
	  		<div ng-if="creaturezoomName && creatureImage && creatureTraits">
		  		<div class="corecreatureimage" style="background-image: url({{creatureImage}}), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}}"></div>
		  		<h3 class="creaturezoomlvl">Lvl: {{creaturezoomLvl}}</h3>

		  		<h3 class="creaturezoomdesc">A {{creaturezoomRarity}} {{creaturezoomEnviroment}} Creature</h3>

		  		<h3 class="creaturezoomname">{{creaturezoomName}}</h3>

		  		<button class="continuebtn" ng-click="battleState(creaturezoomName, creatureImage, CustomCss, Shiny, creaturezoomLvl, creaturezoomRarity, creaturezoomCode)">Enter Battle</button>
	  		</div>

	  		<div ng-if="creatureImage && !creatureTraits">
		  		<h1 class="lonelyriptext">This creature has no traits! Assign it traits to battle</h1>
	  		</div>

	  		<div ng-if="!creatureImage">
		  		<h1 class="lonelyriptext">Select a creature to begin the battle!</h1>
	  		</div>
	  	</div>
	</div>

  	<div ng-if="playermode == 2 && aimove" class="tratsel2">
  		<img src="img/smartgif.gif" class="loadingtgif" ng-if="!movemessage" />

			<div class="traittoken lefttoken" ng-if="movemessage && mytraiten" style="color: #27ae60; border-color: #27ae60;">
				<span class="title">{{mytraiten}}</span>
				<p>{{mytraitede}}</p>
				<ul>
					<li>ATK <br /> {{mytraitea}}</li>
					<li>DEF <br /> {{mytraited}}</li>
					<li>STN <br /> {{mytraites}}</li>
				</ul>
			</div>

      <span ng-if="movemessage" class="middlevs">VS</span>

			<div class="traittoken rightoken" ng-if="movemessage && etraiten" style="color: #e74c3c; border-color: #e74c3c;">
				<span class="title">{{etraiten}}</span>
				<p>{{etraitede}}</p>
				<ul>
					<li>ATK <br /> {{etraitea}}</li>
					<li>DEF <br /> {{etraited}}</li>
					<li>STN <br /> {{etraites}}</li>
				</ul>
			</div>


  		<!-- <h3 class="sexybiftext" ng-if="movemessage">{{movemessage}}</h3> -->

  	</div>

  	<div ng-if="playermode == 2 && !aimove" class="tratsel2">
  		<ion-content direction="x" >

			<div class="traittoken" ng-repeat="(key, cTraite) in cTraites" ng-if="cTraite.Enviroment == 'City'" style="color: #6C7A89; border-color: #6C7A89;" ng-click="applymodifier(cTraite)">
				<span class="title">{{cTraite.Name}}</span>

				<p>{{cTraite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{cTraite.Attack}}</li>
					<li>DEF <br /> {{cTraite.Defense}}</li>
					<li>STN <br /> {{cTraite.Stun}}</li>
				</ul>
			</div>

			<div class="traittoken" ng-repeat="(key, cTraite) in cTraites" ng-if="cTraite.Enviroment == 'Space'" style="color: black; border-color: black;" ng-click="applymodifier(cTraite)">
				<span class="title">{{cTraite.Name}}</span>

				<p>{{cTraite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{cTraite.Attack}}</li>
					<li>DEF <br /> {{cTraite.Defense}}</li>
					<li>STN <br /> {{cTraite.Stun}}</li>
				</ul>
			</div>


			<div class="traittoken" ng-repeat="(key, cTraite) in cTraites" ng-if="cTraite.Enviroment == 'Forest'" style="color: #006442; border-color: #006442;" ng-click="applymodifier(cTraite)">
				<span class="title">{{cTraite.Name}}</span>

				<p>{{cTraite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{cTraite.Attack}}</li>
					<li>DEF <br /> {{cTraite.Defense}}</li>
					<li>STN <br /> {{cTraite.Stun}}</li>
				</ul>
			</div>


			<div class="traittoken" ng-repeat="(key, cTraite) in cTraites" ng-if="cTraite.Enviroment == 'Swamp'" style="color: #407A52; border-color: #407A52;" ng-click="applymodifier(cTraite)">
				<span class="title">{{cTraite.Name}}</span>

				<p>{{cTraite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{cTraite.Attack}}</li>
					<li>DEF <br /> {{cTraite.Defense}}</li>
					<li>STN <br /> {{cTraite.Stun}}</li>
				</ul>
			</div>


			<div class="traittoken" ng-repeat="(key, cTraite) in cTraites" ng-if="cTraite.Enviroment == 'Sea'" style="color: #1F4788; border-color: #1F4788;"  ng-click="applymodifier(cTraite)">
				<span class="title">{{cTraite.Name}}</span>

				<p>{{cTraite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{cTraite.Attack}}</li>
					<li>DEF <br /> {{cTraite.Defense}}</li>
					<li>STN <br /> {{cTraite.Stun}}</li>
				</ul>
			</div>


			<div class="traittoken" ng-repeat="(key, cTraite) in cTraites" ng-if="cTraite.Enviroment == 'Desert'" style="color: #E2B13C; border-color: #E2B13C;"  ng-click="applymodifier(cTraite)">
				<span class="title">{{cTraite.Name}}</span>

				<p>{{cTraite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{cTraite.Attack}}</li>
					<li>DEF <br /> {{cTraite.Defense}}</li>
					<li>STN <br /> {{cTraite.Stun}}</li>
				</ul>
			</div>


			<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Plains'" style="color: #E68364; border-color: #E68364;"  ng-click="applymodifier(cTraite)">
				<span class="title">{{traite.Name}}</span>

				<p>{{traite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{traite.Attack}}</li>
					<li>DMG <br /> {{traite.Damage}}</li>
					<li>STN <br /> {{traite.Stun}}</li>
				</ul>
			</div>

			<div class="traittoken" ng-repeat="(key, cTraite) in cTraites" ng-if="cTraite.Enviroment == 'Neutral'" style="color: #264348; border-color: #264348;" ng-click="applymodifier(cTraite)">
				<span class="title">{{cTraite.Name}}</span>

				<p>{{cTraite.Desc}}</p>

				<ul>
					<li>ATK <br /> {{cTraite.Attack}}</li>
					<li>DEF <br /> {{cTraite.Defense}}</li>
					<li>STN <br /> {{cTraite.Stun}}</li>
				</ul>
			</div>

			<div class="morespace13"></div>
		</ion-content>
	</div>


  </div>

  <div class="bottomcard">
  	<div ng-if="playermode == 1">
  		<h2 class="seltrait" ng-class="{'biggerseltxt' : !canescape }">Select a monster from your deck to fight<span ng-if="canescape">, or attempt to escape!</span></h2>

  		<button class="fleabutton" ng-click="attemptFlea()" ng-if="canescape">Attempt Escape</button>
  	</div>

  	<div ng-if="playermode == 2">
	  	<div class="coreimageback" style="background-image: url({{creatureImage}}), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}};"></div>
	  	<h1 ng-show="creatureName">{{creatureName}}</h1>
	  	<h1 ng-hide="creatureName">Loading...</h1>

	  	<h2 ng-if="creatureRarity =='Mysterious'" style="color: #E29C45" >&bull; {{creatureRarity}} &bull;</h2>
	  	<h2 ng-if="creatureRarity !='Mysterious'">&bull; {{creatureRarity}} &bull;</h2>

	  	<img class="enemyship" src="img/ship.png">
	  	<h4>{{displayname}}</h4>
	  	<h3>Lvl. {{creatureLvl}}</h3>

	  	<div class="statsbox">
        <span class="input-label">Shield - <span ng-if="!mydef">0</span><span ng-if="mydef">{{mydef}}</span></span></span>
        <progress max="500" value="{{mydef}}" class="defenseRange"></progress>
			  <span class="input-label">Health - <span ng-if="!myHealth">0</span><span ng-if="myHealth">{{myHealth}}</span></span></span>
	  		<progress max="{{maxhp}}" value="{{myHealth}}" class="healthRange"></progress>

			  <span class="input-label">Attack - <span ng-if="!myatk">0</span><span ng-if="myatk">{{myatk}}</span></span></span>
	  		<progress max="500" value="{{myatk}}" class="attackRange"></progress>
			  <span class="input-label">Stun Points - <span ng-if="!mystn">0</span><span ng-if="mystn">{{mystn}}</span></span></span>
	  		<progress max="500" value="{{mystn}}" class="stunRange"></progress>
	  	</div>
  	</div>
  </div>

</ion-view>
