<ion-view title="Report a bug" class="about" hide-nav-bar="true">

  <span class="backtri icon-sidetri" ui-sref="tab.settings"></span>

  <h1>Bug Reporter</h1>
	<p class="bugtext">If you have any improvements for this application, or spotted any bugs, please let us know below. <br /><br />Thank you so much</p>

  <form name="buggerfrom">
    
    <div class="list bugger">
      <label class="item item-input">
          <textarea name="buggerfield" placeholder="Information on Bug or Improvement. Please include what device you are using (e.g. iPhone 6)" rows="7" ng-model="bugs.bug" required></textarea>
      </label>
    </div>

    
    <span class="buggerico icon-bugfind"></span>

    <button type="submit" ng-disabled="buggerfrom.buggerfield.$error.required" class="button contbutton sendthisup" ng-click="report()">Report</button>
  </form>

</ion-view>




