<ion-view class="dreamer" view-title="Fuel Venator" hide-nav-bar="true">

<script id="dreamerpop.html" type="text/ng-template">
	<ion-modal-view class="dreamer">
	    <ion-header-bar class="modalhead">
	      <button class="button button-icon icon ion-ios-refresh-empty" on-tap="clearModal()" style="color: #2C3E50;"></button>
	      <h1 class="title">Contribute Creature</h1>
	      <button class="button button-icon icon ion-ios-close-empty" on-tap="closeModal()" style="color: #2C3E50;"></button>
	    </ion-header-bar>
	    <ion-content   ng-class="{ 'newtraitebackcontent': maketraite }">
	      <form name="signUpForm" ng-submit="submit(signUpForm, form)" novalidate>
	      <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Creature Name</span>
			    <input type="text" placeholder="Eleven" name="name" ng-model="monsters.name" required>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Creature Description <!-- <i class="ion-ios-help-outline" on-tap="Monsterdesc($event)" class="help"></i> --></span>

			    <textarea ng-model="monsters.desc" placeholder="A girl with pyschic abilites. She eats Eggos and tends to run from evil government agencies"></textarea>

			  </label>


			   <label class="item item-input item-stacked-label" on-tap="refreshcounter()">
			    <span class="input-label">Creature Enviroment</span>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'City'" class="radiobutton" name="enviroment">City</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Space'" class="radiobutton" name="enviroment">Space</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Forest'" class="radiobutton" name="enviroment">Forest</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Swamp'" class="radiobutton" name="enviroment">Swamp</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Sea'" class="radiobutton" name="enviroment">Sea</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Desert'" class="radiobutton" name="enviroment">Desert</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Plains'" class="radiobutton" name="enviroment">Plains</ion-radio>
			  </label>

			  <div class="specialtimeusseupload">

			  	<div ng-if="!isfromimageurl">

			  		<span class="input-label">Creature Image</span>

			  		<!-- <img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
		      		<img class="myimage" ng-src="{{me}}" ng-if="me"> -->

		      		<!-- setTimeout(function() {}, 0) -->
		      		<div class="filewrapper">
						<div id="upload-file-container" onclick="document.getElementById('file').click();">
							<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()"/>
							<div class="addimage">Upload Image</div>
						</div>
					</div>

					<span class="ortext"> OR </span>
					<div class="addfro" ng-click="fromimageurl()">Add From URL</div>
				</div>

				<div ng-if="isfromimageurl">
				    <span class="input-label">Creature Image URL <i class="ion-backspace-outline" on-tap="nahfromimageurl()" class="help"></i></span>
				    <input type="url" placeholder="http://kingofwallpapers.com/monster/monster-005.jpg"  ng-model="monsters.imgurl">
			    </div>

			  </div>

			   <label class="item item-stacked-label imageitem">
			    <span class="input-label">Image Preview</span>

			    <div ng-if="!me" class="dreamerimage" style="background-image: url({{monsters.imgurl}}), url(img/noimage.jpeg); {{monsters.CustomCss}}"></div>

			    <div ng-if="me" class="dreamerimage" style="background-image: url({{me}}), url('https://static.tumblr.com/e576da3c7f2a41b5a1beb62c9fc63559/ft9ggpw/LfIomgpzr/tumblr_static_6rklu7mtffs4o8gwwgw84kg4k.gif'); {{monsters.CustomCss}}"></div>
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Creature Image Position</span>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center !important'" class="radiobutton" name="CustomCss">Center</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: left !important'" class="radiobutton" name="CustomCss">Left</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: right !important'" class="radiobutton" name="CustomCss">Right</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center top !important'" class="radiobutton" name="CustomCss">Top</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center bottom !important'" class="radiobutton" name="CustomCss">Bottom</ion-radio>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Creature Artists</span>
			    <input type="text" placeholder="The Duffer Brothers" ng-model="monsters.artist">
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Creature Rarity</span>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Common'" class="radiobutton" name="rareity">Common - 20% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Uncommon'" class="radiobutton" name="rareity">Uncommon - 10% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Rare'" class="radiobutton" name="rareity">Rare - 6% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Super Rare'" class="radiobutton" name="rareity">Super Rare - 3% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Mysterious'" class="radiobutton" name="rareity">Mysterious - 1% Acceptance Rate</ion-radio>
			  </label>


			  <label class="item range range-positive item-stacked-label">
			    <span class="input-label">Monetæ Value</span>
			    <input type="range" name="volume" min="0" max="100" value="50" ng-model="monsters.monetae">

			    <div class="montaerangeam">æ<label ng-if="!monsters.monetae">50</label>{{monsters.monetae}}</div>
			  </label>

			  <div class="collectable" ng-click="collect()" ng-if="!cancollect">Make Creature Collectable?</div>
				  <label class="item item-input item-stacked-label" ng-if="cancollect">
				    <span class="input-label">Collectable Count</span>
				    <input type="number" placeholder="100" ng-model="monsters.collectorcount">
				  </label>
			  </div>

			  <div class="traitsspace"></div>

			  <div class="traitsbrick" ng-class="{ 'newtraitebackbrick': maketraite }">

			  	<div class="pickedcounttext" ng-if="monsters.enviroment"  ng-class="{'alerttxttra' : alerttai}">
			  		<label ng-if="!traitcount">0</label>
			  		<label ng-if="traitcount">{{traitcount}}</label> / 5 Base Traits Selected</div>

			  	<label class="notraitestxt" ng-if="!monsters.enviroment">Please select an enviroment to select traits.</label>
			  	<label class="notraitestxt" ng-if="monsters.enviroment && !loadingtrait">Loading Traits...</label>

				<div ng-if="monsters.enviroment && loadingtrait">
					<ion-content direction="x" >
						<!--  && traite.approved -->
						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == 'Neutral'     " style="color: #264348; border-color: #264348;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>

						<!-- && traite.approved -->
						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'City'    " style="color: #6C7A89; border-color: #6C7A89;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>

						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Space'" style="color: black; border-color: black;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Forest'" style="color: #006442; border-color: #006442;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Swamp'" style="color: #407A52; border-color: #407A52;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Sea'" style="color: #1F4788; border-color: #1F4788;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Desert'" style="color: #E2B13C; border-color: #E2B13C;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Plains'" style="color: #E68364; border-color: #E68364;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DMG <br /> {{traite.Damage}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>

						<div class="morespace13"></div>
					</ion-content>
				</div>

				<div ng-if="maketraite">
					<input type="text" class="traitname" placeholder="Trait Name" ng-model="data.traiteName" style="width: 100% !important" />
					<textarea  class="traitdesc" placeholder="Trait Description" ng-model="data.traiteDesc"  style="width: 100% !important"></textarea>

					<label class="item range range-positive item-stacked-label traiterange">
						<span class="input-label">Traite Attack Amount</span>
						<input type="range" name="volume" min="0" max="20" value="5" ng-model="data.traiteATK">

						<div class="montaerangeam"><label ng-if="!data.traiteATK">5</label>{{data.traiteATK}}</div>
					</label>

					<label class="item range range-positive item-stacked-label traiterange">
						<span class="input-label">Traite Defense Amount</span>
						<input type="range" name="volume" min="0" max="20" value="5" ng-model="data.traiteDEF">

						<div class="montaerangeam"><label ng-if="!data.traiteDEF">5</label>{{data.traiteDEF}}</div>
					</label>

					<label class="item range range-positive item-stacked-label traiterange">
						<span class="input-label">Traite Stun Amount</span>
						<input type="range" name="volume" min="0" max="20" value="5" ng-model="data.traiteSTN">

						<div class="montaerangeam"><label ng-if="!data.traiteSTN">5</label>{{data.traiteSTN}}</div>
					</label>


					<label class="item item-input item-stacked-label traitoptions">
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Neutral'" class="radiobutton" name="traiteEnv">Neutral Trait (all)</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'City'" class="radiobutton" name="traiteEnv">City Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Space'" class="radiobutton" name="traiteEnv">Space Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Forest'" class="radiobutton" name="traiteEnv">Forest Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Swamp'" class="radiobutton" name="traiteEnv">Swamp Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Sea'" class="radiobutton" name="traiteEnv">Sea Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Desert'" class="radiobutton" name="traiteEnv">Desert Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Plains'" class="radiobutton" name="traiteEnv">Plains Trait</ion-radio>
					</label>
				</div>

				<div class="adonebrick" ng-click="traitcreate()" ng-class="{ 'savetraitbtn': maketraite }"   ng-if="monsters.enviroment">
					<label  ng-click="traitsubmit(data)" ng-if="maketraite">Submit Trait</label>
					<label ng-if="!maketraite">Create a new Trait</label>
				</div>

				<div class="adonebrick2" ng-click="untraitcreate()" ng-if="maketraite">Cancel Trait Creation</div>

			  </div>

			  <button class="button submitbutton" type="submit" value="submit" on-tap="submitbutton()">Submit Creature</button>
			</form>

			<br />
			<br />
	    </ion-content>
	</ion-modal-view>
</script>

<script id="edittechpop.html" type="text/ng-template">
	<ion-modal-view class="dreamer">
	    <ion-header-bar class="modalhead">
	      <h1 class="title">Edit Technology</h1>
	      <button class="button button-icon icon ion-ios-close-empty" on-tap="closeEditTechModal()" style="color: #2C3E50;"></button>
	    </ion-header-bar>
	    <ion-content>
	      <form name="signUpForm" ng-submit="submit(signUpForm, form)" novalidate>
	      <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Technology Name</span>
			    <input type="text" placeholder="Nano Rover" name="name" ng-model="monsters.name" required>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Technology Description <!-- <i class="ion-ios-help-outline" on-tap="Monsterdesc($event)" class="help"></i> --></span>

			    <textarea ng-model="monsters.desc" placeholder="A small nanopod that is is only 30cm in length. It can however, carry upto three nano-critters and deliver tiny goods."></textarea>

			  </label>


			   <label class="item item-input item-stacked-label" >
			    <span class="input-label">Technology Type</span>
					  <ion-radio ng-model="monsters.type" ng-value="'Device'" class="radiobutton" name="type">Device</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'SpaceTravel'" class="radiobutton" name="type">Space Travel</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Vehicle'" class="radiobutton" name="type">Vehicle</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Android'" class="radiobutton" name="type">Android</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Humanoid'" class="radiobutton" name="type">Humanoid</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Weapon'" class="radiobutton" name="type">Weapon</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Other'" class="radiobutton" name="type">Other</ion-radio>
			  </label>

			  <div class="specialtimeusseupload">

			  	<div ng-if="!isfromimageurl">

			  		<span class="input-label">Technology Image</span>

			  		<!-- <img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
		      		<img class="myimage" ng-src="{{me}}" ng-if="me"> -->

		      		<!-- setTimeout(function() {}, 0) -->
		      		<div class="filewrapper">
						<div id="upload-file-container" onclick="document.getElementById('file').click();">
							<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()"/>
							<div class="addimage">Upload Image</div>
						</div>
					</div>

					<span class="ortext"> OR </span>
					<div class="addfro" ng-click="fromimageurl()">Add From URL</div>
				</div>

				<div ng-if="isfromimageurl">
				    <span class="input-label">Technology Image URL <i class="ion-backspace-outline" on-tap="nahfromimageurl()" class="help"></i></span>
				    <input type="url" placeholder="http://kingofwallpapers.com/monster/monster-005.jpg"  ng-model="monsters.imgurl">
			    </div>

			  </div>

			   <label class="item item-stacked-label imageitem">
			    <span class="input-label">Image Preview</span>

			    <div ng-if="!me" class="dreamerimage" style="background-image: url({{monsters.imgurl}}), url(img/noimage.jpeg); {{monsters.CustomCss}}"></div>

			    <div ng-if="me" class="dreamerimage" style="background-image: url({{me}}), url('https://static.tumblr.com/e576da3c7f2a41b5a1beb62c9fc63559/ft9ggpw/LfIomgpzr/tumblr_static_6rklu7mtffs4o8gwwgw84kg4k.gif'); {{monsters.CustomCss}}"></div>
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Technology Image Position</span>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center !important'" class="radiobutton" name="CustomCss">Center</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: left !important'" class="radiobutton" name="CustomCss">Left</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: right !important'" class="radiobutton" name="CustomCss">Right</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center top !important'" class="radiobutton" name="CustomCss">Top</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center bottom !important'" class="radiobutton" name="CustomCss">Bottom</ion-radio>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Technology Artists</span>
			    <input type="text" placeholder="The Duffer Brothers" ng-model="monsters.artist">
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Technology Rarity</span>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Common'" class="radiobutton" name="rareity">Common - 20% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Uncommon'" class="radiobutton" name="rareity">Uncommon - 10% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Rare'" class="radiobutton" name="rareity">Rare - 6% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Super Rare'" class="radiobutton" name="rareity">Super Rare - 3% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Mysterious'" class="radiobutton" name="rareity">Mysterious - 1% Acceptance Rate</ion-radio>
			  </label>


			  <label class="item range range-positive item-stacked-label">
			    <span class="input-label">Monetæ Value</span>
			    <input type="range" name="volume" min="0" max="100" value="50" ng-model="monsters.monetae">

			    <div class="montaerangeam">æ<label ng-if="!monsters.monetae">50</label>{{monsters.monetae}}</div>
			  </label>

			  <div class="collectable" ng-click="collect()" ng-if="!cancollect">Make Technology Collectable?</div>
				  <label class="item item-input item-stacked-label" ng-if="cancollect">
				    <span class="input-label">Collectable Count</span>
				    <input type="number" placeholder="100" ng-model="monsters.collectorcount">
				  </label>
			  </div>

			  <button class="button submitbutton" type="submit" value="submit" on-tap="submittechedit(monsterid)">Submit Technology</button>
			</form>

			<br />
			<br />
	    </ion-content>
	</ion-modal-view>
</script>

<script id="techpop.html" type="text/ng-template">
	<ion-modal-view class="dreamer">
	    <ion-header-bar class="modalhead">
	      <button class="button button-icon icon ion-ios-refresh-empty" on-tap="clearModal()" style="color: #2C3E50;"></button>
	      <h1 class="title">Contribute Technology</h1>
	      <button class="button button-icon icon ion-ios-close-empty" on-tap="closeTechModal()" style="color: #2C3E50;"></button>
	    </ion-header-bar>
	    <ion-content>
	      <form name="signUpForm" ng-submit="submit(signUpForm, form)" novalidate>
	      <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Technology Name</span>
			    <input type="text" placeholder="Nano Rover" name="name" ng-model="monsters.name" required>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Technology Description <!-- <i class="ion-ios-help-outline" on-tap="Monsterdesc($event)" class="help"></i> --></span>

			    <textarea ng-model="monsters.desc" placeholder="A small nanopod that is is only 30cm in length. It can however, carry upto three nano-critters and deliver tiny goods."></textarea>

			  </label>


			   <label class="item item-input item-stacked-label" >
			    <span class="input-label">Technology Type</span>
					  <ion-radio ng-model="monsters.type" ng-value="'Device'" class="radiobutton" name="type">Device</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'SpaceTravel'" class="radiobutton" name="type">Space Travel</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Vehicle'" class="radiobutton" name="type">Vehicle</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Android'" class="radiobutton" name="type">Android</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Humanoid'" class="radiobutton" name="type">Humanoid</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Weapon'" class="radiobutton" name="type">Weapon</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Other'" class="radiobutton" name="type">Other</ion-radio>
			  </label>

			  <div class="specialtimeusseupload">

			  	<div ng-if="!isfromimageurl">

			  		<span class="input-label">Technology Image</span>

			  		<!-- <img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
		      		<img class="myimage" ng-src="{{me}}" ng-if="me"> -->

		      		<!-- setTimeout(function() {}, 0) -->
		      		<div class="filewrapper">
						<div id="upload-file-container" onclick="document.getElementById('file').click();">
							<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()"/>
							<div class="addimage">Upload Image</div>
						</div>
					</div>

					<span class="ortext"> OR </span>
					<div class="addfro" ng-click="fromimageurl()">Add From URL</div>
				</div>

				<div ng-if="isfromimageurl">
				    <span class="input-label">Technology Image URL <i class="ion-backspace-outline" on-tap="nahfromimageurl()" class="help"></i></span>
				    <input type="url" placeholder="http://kingofwallpapers.com/monster/monster-005.jpg"  ng-model="monsters.imgurl">
			    </div>

			  </div>

			   <label class="item item-stacked-label imageitem">
			    <span class="input-label">Image Preview</span>

			    <div ng-if="!me" class="dreamerimage" style="background-image: url({{monsters.imgurl}}), url(img/noimage.jpeg); {{monsters.CustomCss}}"></div>

			    <div ng-if="me" class="dreamerimage" style="background-image: url({{me}}), url('https://static.tumblr.com/e576da3c7f2a41b5a1beb62c9fc63559/ft9ggpw/LfIomgpzr/tumblr_static_6rklu7mtffs4o8gwwgw84kg4k.gif'); {{monsters.CustomCss}}"></div>
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Technology Image Position</span>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center !important'" class="radiobutton" name="CustomCss">Center</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: left !important'" class="radiobutton" name="CustomCss">Left</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: right !important'" class="radiobutton" name="CustomCss">Right</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center top !important'" class="radiobutton" name="CustomCss">Top</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center bottom !important'" class="radiobutton" name="CustomCss">Bottom</ion-radio>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Technology Artists</span>
			    <input type="text" placeholder="The Duffer Brothers" ng-model="monsters.artist">
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Technology Rarity</span>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Common'" class="radiobutton" name="rareity">Common - 20% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Uncommon'" class="radiobutton" name="rareity">Uncommon - 10% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Rare'" class="radiobutton" name="rareity">Rare - 6% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Super Rare'" class="radiobutton" name="rareity">Super Rare - 3% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Mysterious'" class="radiobutton" name="rareity">Mysterious - 1% Acceptance Rate</ion-radio>
			  </label>


			  <label class="item range range-positive item-stacked-label">
			    <span class="input-label">Monetæ Value</span>
			    <input type="range" name="volume" min="0" max="100" value="50" ng-model="monsters.monetae">

			    <div class="montaerangeam">æ<label ng-if="!monsters.monetae">50</label>{{monsters.monetae}}</div>
			  </label>

			  <div class="collectable" ng-click="collect()" ng-if="!cancollect">Make Technology Collectable?</div>
				  <label class="item item-input item-stacked-label" ng-if="cancollect">
				    <span class="input-label">Collectable Count</span>
				    <input type="number" placeholder="100" ng-model="monsters.collectorcount">
				  </label>
			  </div>

			  <button class="button submitbutton" type="submit" value="submit" on-tap="submittech()">Submit Technology</button>
			</form>

			<br />
			<br />
	    </ion-content>
	</ion-modal-view>
</script>

<script id="desceditpop.html" type="text/ng-template">
	<ion-modal-view class="dreamer">
	    <ion-header-bar class="modalhead">
	      <h1 class="title">Edit Discovery</h1>
	      <button class="button button-icon icon ion-ios-close-empty" on-tap="closeEditDescModal()" style="color: #2C3E50;"></button>
	    </ion-header-bar>
	    <ion-content>
	      <form name="signUpForm" ng-submit="submit(signUpForm, form)" novalidate>
	      <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Discovery Name</span>
			    <input type="text" placeholder="Thornos Tombstone" name="name" ng-model="monsters.name" required>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Discovery Description <!-- <i class="ion-ios-help-outline" on-tap="Monsterdesc($event)" class="help"></i> --></span>

			    <textarea ng-model="monsters.desc" placeholder="A small tombstone with a spell transcribed upon it that allows anyone with the required power to bring back the dead."></textarea>

			  </label>


			   <label class="item item-input item-stacked-label" >
			    <span class="input-label">Discovery Type</span>
					  <ion-radio ng-model="monsters.type" ng-value="'Artifact'" class="radiobutton" name="type">Artifact</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Ruin'" class="radiobutton" name="type">Ruin</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Location'" class="radiobutton" name="type">Location</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Equipment'" class="radiobutton" name="type">Equipment</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Science'" class="radiobutton" name="type">Science</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Theology'" class="radiobutton" name="type">Theology</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Practice'" class="radiobutton" name="type">Practice</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Other'" class="radiobutton" name="type">Other</ion-radio>
			  </label>

			  <div class="specialtimeusseupload">

			  	<div ng-if="!isfromimageurl">

			  		<span class="input-label">Discovery Image</span>

			  		<!-- <img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
		      		<img class="myimage" ng-src="{{me}}" ng-if="me"> -->

		      		<!-- setTimeout(function() {}, 0) -->
		      		<div class="filewrapper">
						<div id="upload-file-container" onclick="document.getElementById('file').click();">
							<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()"/>
							<div class="addimage">Upload Image</div>
						</div>
					</div>

					<span class="ortext"> OR </span>
					<div class="addfro" ng-click="fromimageurl()">Add From URL</div>
				</div>

				<div ng-if="isfromimageurl">
				    <span class="input-label">Discovery Image URL <i class="ion-backspace-outline" on-tap="nahfromimageurl()" class="help"></i></span>
				    <input type="url" placeholder="http://kingofwallpapers.com/monster/monster-005.jpg"  ng-model="monsters.imgurl">
			    </div>

			  </div>

			   <label class="item item-stacked-label imageitem">
			    <span class="input-label">Image Preview</span>

			    <div ng-if="!me" class="dreamerimage" style="background-image: url({{monsters.imgurl}}), url(img/noimage.jpeg); {{monsters.CustomCss}}"></div>

			    <div ng-if="me" class="dreamerimage" style="background-image: url({{me}}), url('https://static.tumblr.com/e576da3c7f2a41b5a1beb62c9fc63559/ft9ggpw/LfIomgpzr/tumblr_static_6rklu7mtffs4o8gwwgw84kg4k.gif'); {{monsters.CustomCss}}"></div>
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Discovery Image Position</span>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center !important'" class="radiobutton" name="CustomCss">Center</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: left !important'" class="radiobutton" name="CustomCss">Left</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: right !important'" class="radiobutton" name="CustomCss">Right</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center top !important'" class="radiobutton" name="CustomCss">Top</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center bottom !important'" class="radiobutton" name="CustomCss">Bottom</ion-radio>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Discovery Artists</span>
			    <input type="text" placeholder="The Duffer Brothers" ng-model="monsters.artist">
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Discovery Rarity</span>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Common'" class="radiobutton" name="rareity">Common - 20% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Uncommon'" class="radiobutton" name="rareity">Uncommon - 10% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Rare'" class="radiobutton" name="rareity">Rare - 6% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Super Rare'" class="radiobutton" name="rareity">Super Rare - 3% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Mysterious'" class="radiobutton" name="rareity">Mysterious - 1% Acceptance Rate</ion-radio>
			  </label>


			  <label class="item range range-positive item-stacked-label">
			    <span class="input-label">Monetæ Value</span>
			    <input type="range" name="volume" min="0" max="100" value="50" ng-model="monsters.monetae">

			    <div class="montaerangeam">æ<label ng-if="!monsters.monetae">50</label>{{monsters.monetae}}</div>
			  </label>

			  <div class="collectable" ng-click="collect()" ng-if="!cancollect">Make Discovery Collectable?</div>
				  <label class="item item-input item-stacked-label" ng-if="cancollect">
				    <span class="input-label">Collectable Count</span>
				    <input type="number" placeholder="100" ng-model="monsters.collectorcount">
				  </label>
			  </div>

			<button class="button submitbutton" type="submit" value="submit" on-tap="submitdescedit(monsterid)">Confirm Changes</button>
			</form>
			<br />
			<br />
	    </ion-content>
	</ion-modal-view>
</script>

<script id="descoverpop.html" type="text/ng-template">
	<ion-modal-view class="dreamer">
	    <ion-header-bar class="modalhead">
	      <button class="button button-icon icon ion-ios-refresh-empty" on-tap="clearModal()" style="color: #2C3E50;"></button>
	      <h1 class="title">Contribute Discovery</h1>
	      <button class="button button-icon icon ion-ios-close-empty" on-tap="closeDescModal()" style="color: #2C3E50;"></button>
	    </ion-header-bar>
	    <ion-content>
	      <form name="signUpForm" ng-submit="submit(signUpForm, form)" novalidate>
	      <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Discovery Name</span>
			    <input type="text" placeholder="Thornos Tombstone" name="name" ng-model="monsters.name" required>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Discovery Description <!-- <i class="ion-ios-help-outline" on-tap="Monsterdesc($event)" class="help"></i> --></span>

			    <textarea ng-model="monsters.desc" placeholder="A small tombstone with a spell transcribed upon it that allows anyone with the required power to bring back the dead."></textarea>

			  </label>


			   <label class="item item-input item-stacked-label" >
			    <span class="input-label">Discovery Type</span>
					  <ion-radio ng-model="monsters.type" ng-value="'Artifact'" class="radiobutton" name="type">Artifact</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Ruin'" class="radiobutton" name="type">Ruin</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Location'" class="radiobutton" name="type">Location</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Equipment'" class="radiobutton" name="type">Equipment</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Science'" class="radiobutton" name="type">Science</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Theology'" class="radiobutton" name="type">Theology</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Practice'" class="radiobutton" name="type">Practice</ion-radio>
					  <ion-radio ng-model="monsters.type" ng-value="'Other'" class="radiobutton" name="type">Other</ion-radio>
			  </label>

			  <div class="specialtimeusseupload">

			  	<div ng-if="!isfromimageurl">

			  		<span class="input-label">Discovery Image</span>

			  		<!-- <img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
		      		<img class="myimage" ng-src="{{me}}" ng-if="me"> -->

		      		<!-- setTimeout(function() {}, 0) -->
		      		<div class="filewrapper">
						<div id="upload-file-container" onclick="document.getElementById('file').click();">
							<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()"/>
							<div class="addimage">Upload Image</div>
						</div>
					</div>

					<span class="ortext"> OR </span>
					<div class="addfro" ng-click="fromimageurl()">Add From URL</div>
				</div>

				<div ng-if="isfromimageurl">
				    <span class="input-label">Discovery Image URL <i class="ion-backspace-outline" on-tap="nahfromimageurl()" class="help"></i></span>
				    <input type="url" placeholder="http://kingofwallpapers.com/monster/monster-005.jpg"  ng-model="monsters.imgurl">
			    </div>

			  </div>

			   <label class="item item-stacked-label imageitem">
			    <span class="input-label">Image Preview</span>

			    <div ng-if="!me" class="dreamerimage" style="background-image: url({{monsters.imgurl}}), url(img/noimage.jpeg); {{monsters.CustomCss}}"></div>

			    <div ng-if="me" class="dreamerimage" style="background-image: url({{me}}), url('https://static.tumblr.com/e576da3c7f2a41b5a1beb62c9fc63559/ft9ggpw/LfIomgpzr/tumblr_static_6rklu7mtffs4o8gwwgw84kg4k.gif'); {{monsters.CustomCss}}"></div>
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Discovery Image Position</span>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center !important'" class="radiobutton" name="CustomCss">Center</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: left !important'" class="radiobutton" name="CustomCss">Left</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: right !important'" class="radiobutton" name="CustomCss">Right</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center top !important'" class="radiobutton" name="CustomCss">Top</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center bottom !important'" class="radiobutton" name="CustomCss">Bottom</ion-radio>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Discovery Artists</span>
			    <input type="text" placeholder="The Duffer Brothers" ng-model="monsters.artist">
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Discovery Rarity</span>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Common'" class="radiobutton" name="rareity">Common - 20% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Uncommon'" class="radiobutton" name="rareity">Uncommon - 10% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Rare'" class="radiobutton" name="rareity">Rare - 6% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Super Rare'" class="radiobutton" name="rareity">Super Rare - 3% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Mysterious'" class="radiobutton" name="rareity">Mysterious - 1% Acceptance Rate</ion-radio>
			  </label>


			  <label class="item range range-positive item-stacked-label">
			    <span class="input-label">Monetæ Value</span>
			    <input type="range" name="volume" min="0" max="100" value="50" ng-model="monsters.monetae">

			    <div class="montaerangeam">æ<label ng-if="!monsters.monetae">50</label>{{monsters.monetae}}</div>
			  </label>

			  <div class="collectable" ng-click="collect()" ng-if="!cancollect">Make Discovery Collectable?</div>
				  <label class="item item-input item-stacked-label" ng-if="cancollect">
				    <span class="input-label">Collectable Count</span>
				    <input type="number" placeholder="100" ng-model="monsters.collectorcount">
				  </label>
			  </div>

			  <button class="button submitbutton" type="submit" value="submit" on-tap="submitdesc()">Submit Discovery</button>
			</form>

			<br />
			<br />
	    </ion-content>
	</ion-modal-view>
</script>

<script id="editpop.html" type="text/ng-template">
	<ion-modal-view class="dreamer">
	    <ion-header-bar class="modalhead">
	      <h1 class="title">Edit {{monstername}}</h1>
	      <button class="button button-icon icon ion-ios-close-empty" on-tap="closeeditModal()" style="color: #2C3E50;"></button>
	    </ion-header-bar>
	    <ion-content>
	      <form name="signUpForm" ng-submit="submit(signUpForm, form)" novalidate>
	      <div class="list">
			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Creature Name</span>
			    <input type="text" placeholder="Eleven" name="name" ng-model="monsters.name" required>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Creature Description <!-- <i class="ion-ios-help-outline" on-tap="Monsterdesc($event)" class="help"></i> --></span>

			    <textarea ng-model="monsters.desc" placeholder="A girl with pyschic abilites. She eats Eggos and tends to run from evil government agencies"></textarea>

			  </label>


			   <label class="item item-input item-stacked-label" >
			    <span class="input-label">Creature Enviroment</span>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'City'" class="radiobutton" name="enviroment">City</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Space'" class="radiobutton" name="enviroment">Space</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Forest'" class="radiobutton" name="enviroment">Forest</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Swamp'" class="radiobutton" name="enviroment">Swamp</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Sea'" class="radiobutton" name="enviroment">Sea</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Desert'" class="radiobutton" name="enviroment">Desert</ion-radio>
					  <ion-radio ng-model="monsters.enviroment" ng-value="'Plains'" class="radiobutton" name="enviroment">Plains</ion-radio>
			  </label>




			  <div class="specialtimeusseupload" ng-if="!uploadcomplete">

			  	<div ng-if="!isfromimageurl">

			  		<span class="input-label">Creature Image</span>

			  		<!-- <img src="https://media.giphy.com/media/xUPGciElNYVE4PKc4o/giphy.gif" ng-if="showloading" style="width: 50vw;">
		      		<img class="myimage" ng-src="{{me}}" ng-if="me"> -->

		      		<!-- setTimeout(function() {}, 0) -->
		      		<div class="filewrapper">
						<div id="upload-file-container" onclick="document.getElementById('file').click();">
							<input class="fileinput" type="file" id="file" onchange="angular.element(this).scope().achange()"/>
							<div class="addimage">Upload Image</div>
						</div>
					</div>

					<span class="ortext"> OR </span>
					<div class="addfro" ng-click="fromimageurl()">Add From URL</div>
				</div>

				<div ng-if="isfromimageurl">
				    <span class="input-label">Creature Image URL <i class="ion-backspace-outline" on-tap="nahfromimageurl()" class="help"></i></span>
				    <input type="url" placeholder="http://kingofwallpapers.com/monster/monster-005.jpg"  ng-model="monsters.imgurl">
			    </div>

			  </div>



			   <label class="item item-stacked-label imageitem">
			    <span class="input-label">Image Preview</span>

			    <div ng-if="!me">
			    	<div class="dreamerimage" style="background-image: url({{monsters.imgurl}}); {{monsters.CustomCss}}"></div>
			    </div>

			    <div ng-if="me">
			    	<div class="dreamerimage" style="background-image: url({{me}}), url('img/loader.gif'); {{monsters.CustomCss}}"></div>
			   	</div>

			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Creature Image Position</span>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center !important'" class="radiobutton" name="CustomCss">Center</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: left !important'" class="radiobutton" name="CustomCss">Left</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: right !important'" class="radiobutton" name="CustomCss">Right</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center top !important'" class="radiobutton" name="CustomCss">Top</ion-radio>
					  <ion-radio ng-model="monsters.CustomCss" ng-value="'background-position: center bottom !important'" class="radiobutton" name="CustomCss">Bottom</ion-radio>
			  </label>

			  <label class="item item-input item-stacked-label">
			    <span class="input-label">Creature Artists</span>
			    <input type="text" placeholder="The Duffer Brothers" ng-model="monsters.artist">
			  </label>

			  <label class="item item-input item-stacked-label" >
			    <span class="input-label">Creature Rarity</span>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Common'" class="radiobutton" name="rareity">Common - 20% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Uncommon'" class="radiobutton" name="rareity">Uncommon - 10% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Rare'" class="radiobutton" name="rareity">Rare - 6% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Super Rare'" class="radiobutton" name="rareity">Super Rare - 3% Acceptance Rate</ion-radio>
					  <ion-radio ng-model="monsters.rarity" ng-value="'Mysterious'" class="radiobutton" name="rareity">Mysterious - 1% Acceptance Rate</ion-radio>
			  </label>


			  <label class="item range range-positive item-stacked-label">
			    <span class="input-label">Monetæ Value</span>
			    <input type="range" name="volume" min="0" max="100" value="50" ng-model="monsters.monetae">

			    <div class="montaerangeam">æ<label ng-if="!monsters.monetae">50</label>{{monsters.monetae}}</div>
			  </label>

			  <div class="collectable" ng-click="collect()" ng-if="!cancollect">Make Creature Collectable?</div>

			  <label class="item item-input item-stacked-label" ng-if="cancollect">
			    <span class="input-label">Collectable Count</span>
			    <input type="number" placeholder="100" ng-model="monsters.collectorcount">
			  </label>

			  <div class="traitsspace"></div>

			  <div class="traitsbrick" ng-class="{ 'newtraitebackbrick': maketraite }">

			  	<div class="pickedcounttext" ng-if="monsters.enviroment"  ng-class="{'alerttxttra' : alerttai}">
			  		<label ng-if="!traitcount">0</label>
			  		<label ng-if="traitcount">{{traitcount}}</label> / 5 Base Traits Selected</div>

			  	<label class="notraitestxt" ng-if="!monsters.enviroment">Please select an enviroment to select traits.</label>
			  	<label class="notraitestxt" ng-if="monsters.enviroment && !loadingtrait">Loading Traits...</label>

				<div ng-if="monsters.enviroment && loadingtrait">
					<ion-content direction="x" >
						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == 'Neutral' && traite.approved" style="color: #264348; border-color: #264348;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>

						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'City' && traite.approved" style="color: #6C7A89; border-color: #6C7A89;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>

						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Space' && traite.approved" style="color: black; border-color: black;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Forest' && traite.approved" style="color: #006442; border-color: #006442;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Swamp' && traite.approved" style="color: #407A52; border-color: #407A52;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Sea' && traite.approved" style="color: #1F4788; border-color: #1F4788;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Desert' && traite.approved" style="color: #E2B13C; border-color: #E2B13C;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DEF <br /> {{traite.Defense}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>


						<div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == monsters.enviroment && traite.Enviroment == 'Plains' && traite.approved" style="color: #E68364; border-color: #E68364;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
							<span class="title">{{traite.Name}}</span>

							<p>{{traite.Desc}}</p>

							<ul>
								<li>ATK <br /> {{traite.Attack}}</li>
								<li>DMG <br /> {{traite.Damage}}</li>
								<li>STN <br /> {{traite.Stun}}</li>
							</ul>
						</div>

						<div class="morespace13"></div>
					</ion-content>
				</div>

				<div ng-if="maketraite">
					<input type="text" class="x" placeholder="Trait Name" ng-model="data.traiteName">
					<textarea  class="traitdesc" placeholder="Trait Description" ng-model="data.traiteDesc"></textarea>

					<label class="item range range-positive item-stacked-label traiterange">
						<span class="input-label">Traite Attack Amount</span>
						<input type="range" name="volume" min="0" max="20" value="5" ng-model="data.traiteATK">

						<div class="montaerangeam"><label ng-if="!data.traiteATK">5</label>{{data.traiteATK}}</div>
					</label>

					<label class="item range range-positive item-stacked-label traiterange">
						<span class="input-label">Traite Defense Amount</span>
						<input type="range" name="volume" min="0" max="20" value="5" ng-model="data.traiteDEF">

						<div class="montaerangeam"><label ng-if="!data.traiteDEF">5</label>{{data.traiteDEF}}</div>
					</label>

					<label class="item range range-positive item-stacked-label traiterange">
						<span class="input-label">Traite Stun Amount</span>
						<input type="range" name="volume" min="0" max="20" value="5" ng-model="data.traiteSTN">

						<div class="montaerangeam"><label ng-if="!data.traiteSTN">5</label>{{data.traiteSTN}}</div>
					</label>


					<label class="item item-input item-stacked-label traitoptions">
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Neutral'" class="radiobutton" name="traiteEnv">Neutral Trait (all)</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'City'" class="radiobutton" name="traiteEnv">City Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Space'" class="radiobutton" name="traiteEnv">Space Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Forest'" class="radiobutton" name="traiteEnv">Forest Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Swamp'" class="radiobutton" name="traiteEnv">Swamp Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Sea'" class="radiobutton" name="traiteEnv">Sea Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Desert'" class="radiobutton" name="traiteEnv">Desert Trait</ion-radio>
					  	<ion-radio ng-model="data.traiteEnv" ng-value="'Plains'" class="radiobutton" name="traiteEnv">Plains Trait</ion-radio>
					</label>
				</div>

				<div class="adonebrick" ng-click="traitcreate()" ng-class="{ 'savetraitbtn': maketraite }"  ng-if="monsters.enviroment">
					<label  ng-click="traitsubmit(data)" ng-if="maketraite">Submit Trait</label>
					<label ng-if="!maketraite">Create a new Trait</label>
				</div>

				<div class="adonebrick2" ng-click="untraitcreate()" ng-if="maketraite">Cancel Trait Creation</div>

			  </div>

			  <button class="button submitbutton" type="submit" value="submit" on-tap="submitedit(monsterid)">Submit Changes</button>
			</form>

			<br />
			<br />
	    </ion-content>
	</ion-modal-view>
</script>

<script id="dreamerpop2.html" type="text/ng-template">
	<ion-modal-view class="monsters" style="height: 50px;">

     	 	<ion-header-bar class="modalhead">
		      <h1 class="title" style="padding-top: 0% !important; text-shadow: none; color: #2C3E50">Your Creations</h1>
		      <button class="button button-icon icon ion-ios-close-empty" on-tap="closeModal2()" style="color: #2C3E50;"></button>
		    </ion-header-bar>

 			<div class="middletextremvoed">Add Sea Creatures via the Contribute button</div>

 		<ion-content scroll="false" style="margin-top: 10vh;">
          <ion-slides  options="options" slider="data.slider">
		      <ion-slide-page ng-repeat="monster in monsters | orderBy:'-monster.approved()' | filter:searchText"  ng-if="monster.user == displayname" style="z-index: 900;">
		      	<!-- ng-if="monster.enviroment == 'Sea'" -->

		            <div class="image" style="background-image: url('{{monster.imgurl}}'); {{monster.CustomCss}};">
		              <h1>{{monster.name}}</h1>
		            </div>


		          <div class="backwhite">
		            <ion-content>
		              <h4 ng-if="monster.enviroment == 'Forest'" style="color: #26C281">Forest</h4>
		              <h4 ng-if="monster.enviroment == 'Swamp'" style="color: #407A52">Swamp</h4>
		              <h4 ng-if="monster.enviroment == 'Sea'" style="color: #317589">Sea</h4>
		              <h4 ng-if="monster.enviroment == 'Desert'" style="color: #E08A1E">Desert</h4>
		              <h4 ng-if="monster.enviroment == 'Plains'" style="color: #6C7A89">Plains</h4>
		              <h4 ng-if="monster.enviroment == 'City'" style="color: #7f8c8d">City</h4>
		              <h4 ng-if="monster.enviroment == 'Space'" style="color: #2c3e50">Space</h4>
		              <h3>Art by: <b>{{monster.artist}}</b></h3>
		              <p>{{monster.desc}} <br /><br /></p>
		            </ion-content>
		            <hr />

		            <i class="icon ion-sad-outline" style="font-size: 25px; margin-top: -3px; position: absolute; padding-left: 15px !important; color: #C3272B;" ng-if="monster.approved == false"></i>

		            <i class="icon ion-ios-loop-strong" style="font-size: 25px; margin-top: -3px; position: absolute; padding-left: 15px !important; color: #E08A1E;" ng-if="monster.approved == 'pend'"></i>

		            <i class="icon ion-ios-checkmark-outline" style="font-size: 30px; margin-top: -5px; position: absolute; padding-left: 15px !important; color: #26C281;" ng-if="monster.approved == true"></i>

		            <i class="icon ion-edit" style="font-size: 26px; margin-top: -5px; position: absolute; padding-left: 55px !important; color: #34495E; z-index: 9000 !important;" ng-click="showeditmodal(monster)" ng-if="monster.approved == true || monster.approved == 'pend'" ng-show="monster.catagory == 'Creature' || !monster.catagory"></i>

		            <i class="icon ion-edit" style="font-size: 26px; margin-top: -5px; position: absolute; padding-left: 55px !important; color: #34495E; z-index: 9000 !important;" ng-click="showedittechmodal(monster)" ng-if="monster.approved == true || monster.approved == 'pend'" ng-show="monster.catagory == 'Technology'"></i>

		            <i class="icon ion-edit" style="font-size: 26px; margin-top: -5px; position: absolute; padding-left: 55px !important; color: #34495E; z-index: 9000 !important;" ng-click="showeditdescmodal(monster)" ng-if="monster.approved == true || monster.approved == 'pend'" ng-show="monster.catagory == 'Discovery'"></i>

		            <h2>{{monster.rarity}}</h2>

		            <i class="icon ion-ios-close-outline" ng-hide="monster.approved == false" on-tap="extinct(monster)" style="font-size: 30px; padding-right: 15px; float: right; margin-top: -35px; color: #C3272B;"></i>


		          </div>

		      </ion-slide-page>
    		</ion-slides>
    	</ion-content>
	</ion-modal-view>
</script>


    <div class="offline" ng-if="offline == true">
      <h1><b>Internet is required to contribute to Venator</b></h1>
      <center>
        <ion-spinner class="spinner" icon="lines"></ion-spinner>
      </center>
      <img src="img/offline.png" />
    </div>

    <div ng-if="offline == false">
	    <h1>Fuel This<br/>Project</h1>
	    <p>Fill in a Creature Creation Form and our team will review it. If approved, it will be catchable within Venator. <br /><br /><b>Please ensure you have legal ownersip of everything you contribute.</b></p>

	    <button class="button contbutton" on-tap="openModal()">Contribute</button>
	    <button class="button contbutton2" on-tap="openModal2()">Your Creations</button>
    </div>

</ion-view>
