<ion-view title="Favourites" class="dropletpage" >

<script id="raritysearchmodal.html" type="text/ng-template">
  <ion-modal-view class="settings">

      <ion-header-bar class="modalhead item-input-inset">
          <h1 class="title specialtitle">{{Monsterrarity}}</h1>
          <button class="button button-icon icon ion-ios-close-empty" on-tap="closeraritysearchmodal()" style="color: #EEECE6 !important;"></button>
      </ion-header-bar>

      <ion-content>

        <br /> <span class="monstertopsharetext" style="text-align: center;">These are all the creatures you have obtained that share their rarity status with your <b>{{Monstername}}</b></span>

        <div class="monsters shuffleherdownson">

          <div class="row" ng-repeat="code in codes" style="flex-wrap: wrap" >
              <div class="col col-50 mainimageblock" ng-repeat="usersRef in code | toArray:false | orderBy:'-time' | filter:search:strict" ng-if="Monsterrarity == usersRef.MonsterRarity && currentUser == usersRef.user">

                <div class="mainimage"  style="background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif);"></div>

                <h2>{{usersRef.Monster}}</h2>

            </div>
          </div>
        </div>
      </ion-content>

  </ion-modal-view>
</script>

  <script id="amonster.html" type="text/ng-template">

    <ion-modal-view class="amonster">
      <div class="backhead" style="background-image: url({{Monsterimg}}), url(img/skull.gif); background-color: #EEECE6; {{customcss}}">
        <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal2()" style="color: #fff !important; float: right; padding-right: 5%;text-shadow: 2px 2px 2px black; padding-top: 3%;"></button>
        <h1 class="monstersenviroment">A {{Monsterenvo}} Creature</h1>
      </div>
      <h2 class="monstersname">{{Monstername}}</h2>

      <h3 class="monsterartist">Creature art by: <b>{{Monsterart}}</b></h3>

      <ion-content class="desccontent">
        <p class="monsterdesc">{{Monsterdesc}}</p>
      </ion-content>

      <span class="alivemonster" style="color: #27ae60" ng-show="Monsterstatus == true">Active</span>
      <span class="alivemonster" style="color: #7f8c8d" ng-show="Monsterstatus == false">Extinct</span>

      <h3 class="monsterbarcode">{{Monstercode}}</h3> <i class="icon ion-ios-paw removemonster" on-tap="remove(Monstercode)"></i>
      <div class="bar bar-footer barbtoombo" on-tap="openraritysearchmodal(usersRef)">
        <div class="title" style="font-size: 14px;">{{Monsterrarity}}</div>
      </div>

    </ion-modal-view>
  </script>

  <ion-content>



  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

  <br /> <span class="monstertopsharetext" style="text-align: center; justify-content: center;">These are your favourite creatures. You can favourite a creature by holding down on it's card.</span>



  <div class="row shuffleherdownson" style="flex-wrap: wrap"> <!-- | limitTo : 1 -->
    <div class="padded col col-33" ng-repeat="usersRef in usersRefs | orderBy:'-time' | filter:search:strict" ng-if="usersRef.Monster && usersRef.favourite == true">

        <div class="apill" on-tap="openModal2(usersRef)" ng-if="usersRef.MonsterEnviroment == 'Forest'" style="border: 2px solid #26C281; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
        <div class="apill" on-tap="openModal2(usersRef)" ng-if="usersRef.MonsterEnviroment == 'Swamp'" style="border: 2px solid #407A52; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
        <div class="apill" on-tap="openModal2(usersRef)" ng-if="usersRef.MonsterEnviroment == 'Sea'" style="border: 2px solid #317589; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
        <div class="apill" on-tap="openModal2(usersRef)" ng-if="usersRef.MonsterEnviroment == 'Desert'" style="border: 2px solid #E08A1E; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
        <div class="apill" on-tap="openModal2(usersRef)" ng-if="usersRef.MonsterEnviroment == 'Plains'" style="border: 2px solid #6C7A89; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
        <div class="apill" on-tap="openModal2(usersRef)" ng-if="usersRef.MonsterEnviroment == 'City'" style="border: 2px solid #7f8c8d; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
        <div class="apill" on-tap="openModal2(usersRef)" ng-if="usersRef.MonsterEnviroment == 'Space'" style="border: 2px solid #2c3e50; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>

        <h2>{{usersRef.Monster}}
          <i class="icon ion-ios-close-empty" on-tap="remFav(usersRef)" style="color: #CF3A24 !important; font-size: 21px !important;"></i>
        </h2>
    </div>

    <!-- <div class="col emptyseach">No monsters have been favourited, you an favourite a monster by holding down on it's card in the monster viewing page.</div> -->
  </div>

   <!-- <p ng-hide="!codes.length" >No monsters have been favourited, you an favourite a monster by holding down on it's card on the monster viewing page. </p> -->

  </ion-content>
</ion-view>
