<ion-view title="Events" class="monsters eventspage" hide-nav-bar="true">

   <h1 class="pedia">Creature Events</h1>

   <span class="backtri icon-square" ui-sref="tab.monsters"></span>


   <ion-content scroll="false">
      <ion-slides  options="options" slider="data.slider">
         <ion-slide-page ng-repeat="corray in corrays | orderBy:'RemColl' | filter:searchText" ng-if="corray.approved">

            <div class="image" style="background-image: url('{{corray.imgurl}}');" ng-if="corray.Mine">
               <h1>{{corray.name}}</h1>
            </div>

            <div class="image imageblack" style="background-image: url('{{corray.imgurl}}');" ng-if="!corray.Mine">
               <h1>???????</h1>
            </div>

            <div class="backwhite contentholder">
               <div class="backwhitecontentm">
                 This creature will no longer be catchable in
                  <span class="countdowntimer" countdown='' date='{{ corray.time | date:"medium"}}'>&nbsp;</span>
               </div>
               <hr />
               <h2>{{corray.RemColl}} / {{corray.Coll}} Remaining</h2>
            </div>
         </ion-slide-page>

      </ion-slides>
   </ion-content>
</ion-view>
