<ion-view class="friends" >


  <script id="raritysearchmodal.html" type="text/ng-template">
    <ion-modal-view class="settings" style="z-index: 9000 !important;">

        <ion-header-bar class="modalhead item-input-inset">
            <h1 class="title specialtitle" ng-hide="thepersonanme" style="color: #2C3E50 !important; z-index: 9000 !important;">Player's Creatures</h1>
            <h1 class="title specialtitle" ng-show="thepersonanme" style="color: #2C3E50 !important; z-index: 9000 !important;">{{thepersonanme}}</h1>

            <button class="button button-icon icon ion-ios-close-empty" on-tap="closeraritysearchmodal()" style="color: #2C3E50 !important; z-index: 9000;"></button>
        </ion-header-bar>

        <ion-content>

          <div class="monsters">

            <div class="row" style="flex-wrap: wrap">
                <div class="col col-50 mainimageblock" ng-repeat="personsarray in personsarrays | orderBy:'Monster'" ng-if="personsarray.Monster">

                <div ng-if="!isUserMonster(personsarray)">
                  <div class="mainimage blankimage ipadimage" style="background-image: url('{{personsarray.MonsterImg}}'), url(img/skull.gif); {{personsarray.CustomCss}};"></div>

                  <h2>Unidentifed Creature</h2>
                </div>

                <div ng-if="isUserMonster(personsarray)">
                  <div class="mainimage ipadimage" style="background-image: url('{{personsarray.MonsterImg}}'), url(img/skull.gif); {{personsarray.CustomCss}};"></div>

                  <h2>{{personsarray.Monster}}</h2>
                </div>

              </div>
            </div>
          </div>
        </ion-content>

    </ion-modal-view>
  </script>

 <script id="leaderboard.html" type="text/ng-template">
    <ion-modal-view class="friends">
      <ion-header-bar class="modalhead item-input-inset">
        <h1 class="title specialtitle">Venator Leaderboard</h1>
        <button class="button button-icon icon ion-ios-close-empty" on-tap="closeleaderboard()" style="color: #2C3E50 !important;"></button>
      </ion-header-bar>

      <label class="item item-input" style="background-color: #fff !important;">
            <i class="icon ion-ios-search placeholder-icon" style="color: #2C3E50;"></i>
            <form ng-submit="submitLogin()">
              <input type="search" class="thesearchbar" placeholder="Search Players" ng-model="lbsearch">
              <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
            </form>
          </label>

      <ion-content>
        <div class="toprock"></div>

        <center>
          <div class="thickcard" ng-repeat="corray in corrays | orderBy:'-Count' | filter:lbsearch:strict"/>
            <h1 ng-click="openraritysearchmodal(corray)"><u>{{corray.Username}}</u></h1>
            <h3>Caught {{corray.Count}} Creatures</h3>
          </div>
        </center>

        <div class="btnrock"></div>
      </ion-content>

    </ion-modal-view>
  </script>

  <script id="codemodal.html" type="text/ng-template">
    <ion-modal-view class="friends">

        <ion-header-bar class="modalhead item-input-inset">
            <h1 class="title specialtitle">Add a friend</h1>
            <button class="button button-icon icon ion-ios-close-empty" on-tap="closecodemodal()" style="color: #2C3E50 !important;"></button>
        </ion-header-bar>

      <ion-content class="pushthatcontentdown">

        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="doRefresh()">
        </ion-refresher>

        <label class="item item-input" style="background-color: #fff !important;">
          <i class="icon ion-ios-search placeholder-icon" style="color: #2C3E50;"></i>
          <form ng-submit="submitLogin()">
            <input type="search" class="thesearchbar" placeholder="Search Players" ng-model="search">
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
          </form>
        </label>

        <ion-list ng-repeat="friend in friends" >
          <ion-item ng-repeat="friendsRef in friend | toArray:false | orderBy:'-PlayerPoints' | filter: search:strict"  ng-if="friendsRef.email || friendsRef.username" ng-hide="HaveFriend(friendsRef)">
              <h3>{{friendsRef.email}}{{friendsRef.username}}</h3>
              <i class="icon icon-friend specialicon" on-tap="addfriend(friendsRef)"></i>
          </ion-item>
        </ion-list>

      </ion-content>

    </ion-modal-view>
  </script>

  <script id="battlemodal.html" type="text/ng-template">
    <ion-modal-view class="friends">

        <ion-header-bar class="modalhead item-input-inset">
            <!-- <h1 class="title specialtitle" ng-if="!monsterselected">Select Creature</h1> -->
            <h1 class="title specialtitle">{{Friendname}}</h1>
            <button class="button button-icon icon ion-ios-close-empty" on-tap="closebattlemodal()" style="color: #2C3E50 !important;"></button>
        </ion-header-bar>

        <!-- <div ng-if="!monsterselected" class="monsteirnfo">
          <h2  on-swipe-down="closebattlemodal()"><i class="icon ion-alert-circled" style="font-size: 24px;"></i><br /><br />Warning: if {{Friendname}} picks a creature with a higher rarity, he will obtain your creature. If it is a draw, the creature with the highest level will provail</h2>

          <ion-content>
            <div class="row specialgouprowthin" style="flex-wrap: wrap;" >
              <div  class="col-50" ng-repeat="myfavrepeat in myfavrepeats">
                <div ng-click="selectmon(myfavrepeat)" class="monsterdisplay" style="background-image: url({{myfavrepeat.image}}), url(img/skull.gif); {{myfavrepeat.customcss}}"></div>
                <div class="selectmonstersname"><label>{{myfavrepeat.name}}</label></div>
                <h3>{{myfavrepeat.level}}</h3>
                <h4>{{myfavrepeat.rarity}}</h4>
              </div>
            </div>
          </ion-content>
        </div> -->


          <div class="enemy" style="background-image: url({{EnemyImage}}), url(img/skull.gif);; {{EnemyImageCss}}; filter: {{EnemyImageShiny}}"></div>
          <div class="monsterrarity2" ng-hide="EnemyRarity == false">{{EnemyRarity}}</div>
          <div class="monsterrarity2" ng-show="EnemyRarity == false">Waiting</div>

          <button class="button contbutton" on-tap="spin(Friendid)" ng-show="!MyRarity">Select Monster</button>

          <div class="battleif" ng-show="MyRarity && EnemyRarity && BattleState == 'lost'" style="color: #D24D57" on-tap="lost()">LOST</div>
          <div class="battleif" ng-show="MyRarity && EnemyRarity && BattleState == 'draw'" style="color: #6C7A89" on-tap="draw()">DRAW</div>
          <div class="battleif" ng-show="MyRarity && EnemyRarity && BattleState == 'won'" style="color: #4DAF7C" on-tap="won()">WON</div>

          <div ng-if="MyRarity && EnemyRarity" ng-init="battleroyale()"></div>

          <button class="button contbutton pushbuttondown" on-tap="rematch(Friendid)" ng-if="EnemyRarity && MyRarity">Rematch</button>

          <div class="monsterrarity" ng-show="EnemyRarity == false && MyRarity == false">Choose a Monster</div><!--
          <div class="monsterrarity littler" ng-hide="BattleState ==  'noenemy' || EnemyRarity == false">Waiting for Rematch</div> -->
          <div class="monsterrarity" ng-show="MyRarity == null">Please try again</div>
          <div class="monsterrarity" ng-hide="MyRarity == false">{{MyRarity}}</div>
          <div class="choosemonster" style="background-image: url({{MyImage}}), url(img/skull.gif); {{MyImageCss}}; filter: {{MyImageShiny}}"></div>

    </ion-modal-view>
  </script>

  <ion-nav-title>
    <div class="friendsbarpadding"></div>
    <div class="bar" >
      <button ng-if="access === true" class="button optionaltitle button-icon icon-trophy" on-tap="leaderboard()"></button>
        <div class="title friendwhitetitlte" ng-if="access === true">Choose an Opponent</div>
        <div class="title friendwhitetitlte" ng-if="access === false">Catch More Creatures</div>
      <button ng-if="access === true" class="button optionaltitle button-icon icon ion-ios-plus-empty" on-tap="opencodemodal()"></button>
      <button ng-if="access === false" class="button optionaltitle button-icon icon ion-ios-refresh-empty" on-tap="refresh()"></button>
    </div>
  </ion-nav-title>

  <ion-content>

    <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
    </ion-refresher>

    <div class="offline" ng-if="offline == true">
      <h1><b>Internet is required to Battle in Venator</b></h1>
      <center>
        <ion-spinner class="spinner" icon="lines"></ion-spinner>
      </center>
      <img src="img/offline.png" />
    </div>

    <ion-spinner icon="ripple" ng-if="!notloadingloadedbit && offline == false" class="corehomerip" style="margin-top: 30vh"></ion-spinner>

    <div ng-if="access === false">
      <div class="row responsive-sm">
          <div class="col"><span class="monstertopsharetext biggertext" style="text-align: center;">You need to catch over 5 Creatures to use this feature</span> </div>
        </div>
      <span class="semiico icon-semicircle"></span>
    </div>

    <div ng-if="access === true && offline == false">

      <div class="list list-inset" >
        <label class="item item-input" style="background-color: #fff !important;">
          <i class="icon ion-ios-search placeholder-icon" style="color: #131313;"></i>
          <form ng-submit="submitLogin()">
            <input type="search" placeholder="Search Friends..." class="monstersearchsimp" ng-model="search">
            <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
          </form>
        </label>
      </div>

      <ion-list>
        <ion-item class="specialitems" ng-repeat="myfriend in myfriends | filter: search:strict" ng-if="myfriend.visiablename">
          <h3 ng-click="openraritysearchmodal(myfriend)">{{myfriend.visiablename}}</h3>
          <!-- <p> Halolecter: {{friendsRef.PlayerPoints}} </p> -->

          <button class="button button-clear button-positive" on-tap="battle(myfriend)" ng-show="!myfriend.mymonsterrarity && !myfriend.enemymonsterrarity">Battle</button>
          <button class="button button-clear button-positive" style="color: #6C7A89 !important" on-tap="battle(myfriend)" ng-show="myfriend.mymonsterrarity && !myfriend.enemymonsterrarity">Waiting</button>
          <button class="button button-clear button-positive" style="color: #D24D57 !important" on-tap="battle(myfriend)" ng-show="!myfriend.mymonsterrarity && myfriend.enemymonsterrarity">Take Action</button>
          <button class="button button-clear button-positive" style="color: #26C281 !important" on-tap="battle(myfriend)" ng-show="myfriend.mymonsterrarity && myfriend.enemymonsterrarity">Results</button>

          <button class="button button-clear button-positive" on-tap="trade()">Trade</button>
        </ion-item>
      </ion-list>
      <p ng-show="!myfriends.length" class="emptyseach">No Friends Found</p>
    </div>

  </ion-content>
</ion-view>
