<ion-view class="home" hide-nav-bar="true">

	<script id="infomodal.html" type="text/ng-template">
	  <ion-modal-view class="home">

	      <ion-header-bar class="modalhead2">
	          <h1 class="h1 title"></h1>
	          <button class="button button-icon icon ion-ios-close-empty" on-tap="theclosebutton()"></button>
	      </ion-header-bar>


		    <ion-slide-box on-slide-changed="slideChanged(index)">
			  <ion-slide>
			  	<center class="slide1 swirl">
			    	<i class="icon icon-bscanner"></i>
			    	<h1>Scan To Hunt</h1>
			    	<p>On the Home screen, press the mysterious crack to open the code scanner. Show the scanner a barcode or QR code to begin hunting for creatures!</p>
			    </center>
			  </ion-slide>
			  <ion-slide>
			  	<center class="slide2 swirl">
			    	<i class="icon icon-collect"></i>
				    	<h1>Collect</h1>
				    	<p>Once you have found a creature, it will be added to the your 'Creatures' section for viewing. You can favourite creatures by holding down on it's card.</p>
			    </center>
			  </ion-slide>
			  <ion-slide>
			  	<center class="slide3 swirl">
			    	<i class="icon icon-creative"></i>
			   		<h1>Get Creative</h1>
				    	<p>Venator also offers you, the user, to create creatures within the universe of the game. This can be done within the 'Dreamer' section.  <br /><br />This means that there will be new monsters almost every day!
				    	<br /><br />
				    	<b on-tap="theclosebutton()" style="text-transform: uppercase; font-size: 16px;"><u>So scan away</u></b>
			    	</p>
			    </center>
			  </ion-slide>
			</ion-slide-box>


	  </ion-modal-view>
	</script>

    <!-- <button class="bttn" on-tap="scanBarcode()">Hunt</button> -->

 	<button class="button optionaltitle button-icon icon icon-help"  ng-if="offline == false" on-tap="openthismodal()"></button>
	<button class="button optionaltitle titleoptright button-icon icon icon-settings"  ng-if="offline == false" ui-sref="tab.settings"></button>

    <div particles-drv ng-if="offline == false"></div>

    <!-- <img src="img/eye.png" class="thehand" on-tap="scanBarcode()" ng-if="offline == false"> -->

    <div class="homeinfowrapper" ng-if="offline == false">
    	<div class="littelball"></div><div class="whitelinething"></div><div class="whitelinethingb"></div>

    	<h2>Tap the Artifact to scan barcodes and find creatures throughout the universe. </h2>
    </div>

    <span class="scanner icon-uptri" on-tap="scanBarcode()" ng-if="offline == false"></span>
    <h3 class="settlementfronttext"  ng-if="offline == false && myplanet2 && myenglish">Settled on {{myplanet2}}. <br /><br /> <label class="settlementfronttextbtm">Your chances of catching {{myenglish}} creatures has been increased</label></h3>

    <div class="offline" ng-if="offline == true">
		<h1><b>Venator is connecting to the internet.</b> <br /><br />If you are connected to the internet, try opening and closing this application.</h1>
		<center>
		  <ion-spinner class="spinner" icon="lines"></ion-spinner>
		</center>
		<img src="img/offline.png" />
	</div>

    <!-- <div class="card" style="margin-top: 150%;" ng-click="debugger()"><div class="item item-text-wrap">Debugger</div></div> -->
</ion-view>
