<ion-view title="Login" class="login" ng-init="init()" hide-nav-bar="true">

    <div class="v">venator</div>

    <div ng-hide="userlogin || usersign">
      <div ng-if="!facebook" class="wrap animated fadeIn" ng-click="facebooklogin()">
        <button class="button socialbutton" style="background-color: transparent;">
          Login with Facebook
        </button>
      </div>

      <div ng-if="facebook" class="wrap animated fadeIn" ng-click="logout()">
        <button class="button socialbutton" style="background-color: transparent;">
          Logout with Facebook
        </button>
      </div>

      <hr>

      <div>
        <div ng-click="togglelogin()">
          <button class="button socialbutton  animated fadeIn" style="background-color: transparent;">
             Login with an Email
          </button>
        </div>
      </div>

      <!-- <hr>

      <div ng-click="togglesign()">
        <button class="button sneakybutton  animated fadeIn" style="background-color: transparent;" >
          Create Account
        </button>
      </div> -->
    </div>

      <div ng-if="usersign">
        <div class="list homeform wrap animated fadeIn">
          <label class="item item-input item-stacked-label">
            <input type="email" placeholder="EMAIL" ng-model="email">
          </label>
          <label class="item item-input item-stacked-label">
            <input type="password" placeholder="PASSWORD" ng-model="password"> 
          </label>


          <button class="button button-small contbutton2" ng-click="backsign()">Back</button>
          <button class="button button-small contbutton" ng-click="customsign(email, password)">Sign Up</button>
        </div>

        <p class="signupinstead">Already have an account? <a href="#" ng-click="togglelogin()">Login</a></p>
      </div>

      <div ng-if="userlogin">
        <div class="list homeform wrap animated fadeIn">
          <label class="item item-input item-stacked-label">
            <input type="email" placeholder="EMAIL" ng-model="email">
          </label>
          <label class="item item-input item-stacked-label">
            <input type="password" placeholder="PASSWORD" ng-model="password"> 
          </label>

          <button class="button button-small contbutton2" ng-click="backlog()">Back</button>
          <button class="button button-small contbutton" ng-click="customlogin(email, password)">Login</button>
        </div>

        <p class="signupinstead">Don't have an account? <a href="#" ng-click="togglesign()">Sign Up</a></p>
      </div>

    <div ng-show="authData" class="wrap" ng-click="logout()">
      <button class="button icon-left ion-ios-unlocked socialbutton" style="background-color: #6C7A89;">
         Logout {{authData.facebook.displayName}} {{authData.google.displayName}}
      </button>
    </div>
</ion-view>