<ion-view class="monsters" hide-nav-bar="true">

    <script id="owned.html" type="text/ng-template">
        <div class="toppop">

            <div class="image"  style="background-image: url('{{Monsterimg}}'), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}}">
                <h1>{{Monstername}}</h1>
            </div>

            <div class="backwhite">
                <ion-content style="height: 300px; margin-top: -10px;">
                    <h4 ng-if="Monsterenvo == 'Forest'" style="color: #26C281">Forest</h4>
                    <h4 ng-if="Monsterenvo == 'Swamp'" style="color: #407A52">Swamp</h4>
                    <h4 ng-if="Monsterenvo == 'Sea'" style="color: #317589">Sea</h4>
                    <h4 ng-if="Monsterenvo == 'Desert'" style="color: #E08A1E">Desert</h4>
                    <h4 ng-if="Monsterenvo == 'Plains'" style="color: #6C7A89">Plains</h4>
                    <h4 ng-if="Monsterenvo == 'City'" style="color: #7f8c8d">City</h4>
                    <h4 ng-if="Monsterenvo == 'Space'" style="color: #2c3e50">Space</h4>
                    <h3>Art by: <b>{{Monsterart}}</b></h3>
                    <p>{{Monsterdesc}}
                        <br />
                        <br />
                    </p>
                </ion-content>
                <hr />

                <h2>{{Monsterrarity}}</h2>

            </div>
        </div>
    </script>


    <script id="traitpopse.html" type="text/ng-template">
        <div class="sickytopf"> Select Traits {{traitcount}}/5 </div>
        <div class="canaddcre" ng-if="!requiresfive">You can add a trait in the "Contribute Creature' section</div>
        <div class="reqfivetext" ng-if="requiresfive" style="color: #D24D57">Please make sure you select five!</div>
        <ion-content>

            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == theEnv && traite.Enviroment == 'City' && traite.approved" style="color: #6C7A89; border-color: #6C7A89;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DEF <br /> {{traite.Defense}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>

            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == theEnv && traite.Enviroment == 'Space' && traite.approved" style="color: black; border-color: black;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DEF <br /> {{traite.Defense}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>


            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == theEnv && traite.Enviroment == 'Forest' && traite.approved" style="color: #006442; border-color: #006442;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DEF <br /> {{traite.Defense}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>


            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == theEnv && traite.Enviroment == 'Swamp' && traite.approved" style="color: #407A52; border-color: #407A52;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DEF <br /> {{traite.Defense}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>


            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == theEnv && traite.Enviroment == 'Sea' && traite.approved" style="color: #1F4788; border-color: #1F4788;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DEF <br /> {{traite.Defense}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>


            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == theEnv && traite.Enviroment == 'Desert' && traite.approved" style="color: #E2B13C; border-color: #E2B13C;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DEF <br /> {{traite.Defense}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>


            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == theEnv && traite.Enviroment == 'Plains' && traite.approved" style="color: #E68364; border-color: #E68364;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DMG <br /> {{traite.Damage}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>

            <div class="traittoken" ng-repeat="(key, traite) in traites" ng-if="traite.Enviroment == 'Neutral' && traite.approved" style="color: #264348; border-color: #264348;" ng-click="selectcard(key)" ng-class="{'selectedborder' : traite.selected}">
                <span class="title">{{traite.Name}}</span>

                <p>{{traite.Desc}}</p>

                <ul>
                    <li>ATK <br /> {{traite.Attack}}</li>
                    <li>DEF <br /> {{traite.Defense}}</li>
                    <li>STN <br /> {{traite.Stun}}</li>
                </ul>
            </div>

            <div class="morespace13"></div>
        </ion-content>
    </script>

    <script id="raritysearchmodal.html" type="text/ng-template">
        <ion-modal-view class="settings">

            <ion-header-bar class="modalhead item-input-inset">
                <h1 class="title specialtitle" style="color: #2C3E50 !important;">{{MonsterRarity}}</h1>
                <button class="button button-icon icon ion-ios-close-empty" on-tap="closeraritysearchmodal()" style="color: #2C3E50 !important;"></button>
            </ion-header-bar>

            <ion-content>

                <br /> <span class="monstertopsharetext3" style="text-align: center;">This is everything you have obtained that share their rarity status with your <b>{{Monstername}}</b></span>

                <div class="monsters shuffleherdownson">

                    <div class="row" style="flex-wrap: wrap">
                        <div class="col col-50 mainimageblock" ng-repeat="usersRef in usersRefs | orderBy:'-time'" ng-if="MonsterRarity == usersRef.MonsterRarity" ng-click="openrarspecmodal(usersRef)">

                            <div class="mainimage ipadimage" style="background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>

                            <h2>{{usersRef.Monster}}</h2>

                        </div>
                    </div>
                </div>
            </ion-content>

        </ion-modal-view>
    </script>

    <script id="monsterdex.html" type="text/ng-template">
        <ion-modal-view class="settings">

            <ion-header-bar class="modalhead item-input-inset">
                <label class="item-input-wrapper monstersearch">
                    <i class="icon ion-ios-search placeholder-icon" style="color: #EEECE6 !important;"></i>
                    <input type="search" placeholder="Search" class="monstersearcher" ng-model="search.name" style="color: #EEECE6 !important;">
                </label>
                <button class="button button-icon icon ion-ios-close-empty" on-tap="closeModal()" style="color: #EEECE6 !important;"></button>
            </ion-header-bar>


            <ion-content>
                <div class="list allmonsters" style="padding-top: 15px;" ng-repeat="monster in monsters | filter:search:strict">
                    <div ng-repeat="code in codes">
                        <a class="item item-thumbnail-left" ng-hide="monster.user == authData.facebook.displayName">
                            <img style="display:block; width:100px; height:100px; background-color:#EEECE6; background:url({{monster.imgurl}}), url(img/skull.gif); background-position: top; background-size: cover;" />
                            <h2>{{monster.name}}</h2>

                            <h4 ng-if="monster.enviroment == 'Forest'" style="color: #26C281 !important">Forest</h4>
                            <h4 ng-if="monster.enviroment == 'Swamp'" style="color: #407A52 !important">Swamp</h4>
                            <h4 ng-if="monster.enviroment == 'Sea'" style="color: #317589 !important">Sea</h4>
                            <h4 ng-if="monster.enviroment == 'Desert'" style="color: #E08A1E !important">Desert</h4>
                            <h4 ng-if="monster.enviroment == 'Plains'" style="color: #6C7A89 !important">Plains</h4>
                            <h4 ng-if="monster.enviroment == 'City'" style="color: #6C7A89 !important">City</h4>
                            <h4 ng-if="monster.enviroment == 'Space'" style="color: #6C7A89 !important">Space</h4>
                            <br />

                            <p><b>{{monster.rarity}}</b>
                            </p>
                        </a>
                        <a class="item item-thumbnail-left monsterlost" ng-show="monster.user == authData.facebook.displayName">
                            <img src="{{monster.imgurl}}">
                            <h2>????</h2>
                            <p>
                                <br /><b>{{monster.rarity}}</b>
                            </p>
                        </a>
                    </div>
                </div>

            </ion-content>

        </ion-modal-view>
    </script>

    <script id="my-popover.html" type="text/ng-template">
        <ion-popover-view>
            <div class="list">
                <a class="item item-icon-right" href="" ng-click="findorder('-time')">
                    <i class="icon icon-time"></i> Time Caught
                </a>
                <a class="item item-icon-right" href="" ng-click="findorder('Monster')">
                    <i class="icon icon-name"></i> Alphabetical
                </a>
                <a class="item item-icon-right" href="" ng-click="findorder('-Monsterlvl')">
                    <i class="icon icon-level"></i> Level
                </a>

            </div>
        </ion-popover-view>
    </script>

    <div class="topcoreblack">
        <div class="name">{{displayname}}</div>
        <div class="rank2"><i class="icon icon-Tickets rankicon2" ui-sref="tab.events"></i>
        </div>
    </div>

    <div class="infoblacksidea">
        <div class="hiditdiv"></div>

        <div class="creaturecaughtcount" on-tap="barcodepage()">
            <div ng-if="totalmonsterscount">
                <label style="margin-top: 2vh;">{{totalmonsterscount}}
                    <br /><span>Owned</span>
                </label>
            </div>

            <div ng-show="hideifnone && totalmonsterscount == 0">
                <label style="margin-top: 2vh;">0
                    <br /><span>Owned</span>
                </label>
            </div>

            <ion-spinner icon="dots" ng-if="!totalmonsterscount" style="margin-top: 2vh;" ng-hide="hideifnone"></ion-spinner>
        </div>

        <div class="creaturecaughtcount" style="border-top: 2px solid #2C3E50; height: 30vh;">
            <div style="margin-top: 3vh;">

                <div ng-click="enableegg()" class="creaturecaughtcountspico" ng-class="{'selectedicomon' : eggallow}"><i class="icon icon-egg3"></i>
                </div>
                <div class="notficationindicatoregg" ng-if="eggscount >= 1"></div>


                <div ng-click="enablebeast()" class="creaturecaughtcountspico" ng-class="{'selectedicomon' : !monstersecselected}"><i class="icon icon-beast"></i>
                </div>
                <div ng-click="enabletech()" class="creaturecaughtcountspico" ng-class="{'selectedicomon' : techsection}"><i class="icon icon-chip"></i>
                </div>
                <div ng-click="enabledesc()" class="creaturecaughtcountspico" ng-class="{'selectedicomon' : descsection}"><i class="icon icon-lander"></i>
                </div>
            </div>
        </div>

        <div class="passage">
            <ion-content>
                <div class="droplet" ng-class="{redborder : activeMenu === usersRef, 'goldfoil' : usersRef.MonsterRarity =='Mysterious'}" on-tap="openModal3(usersRef)" on-hold="remFav(usersRef)" ng-repeat="usersRef in usersRefs | orderBy:'-Monsterlvl'" ng-if="usersRef.Monster && usersRef.favourite == true" style="background-color: #fff; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}}; filter: {{usersRef.shiny}}" ng-init="dale()">
                    <div class="monsterlvl" style="color: #fff !important; "><label ng-if="usersRef.Catagory == 'Technology'">T : </label><label ng-if="usersRef.Catagory == 'Discovery'"> :D</label><label ng-if="!usersRef.Monsterlvl">0</label><label ng-if="usersRef.Monsterlvl">{{usersRef.Monsterlvl}}</label></div>
                </div>

                <div class="emptyfav" ng-if="favcount == 0 || !favcount">Hold a creature to add it into your deck.</div>
            </ion-content>

        </div>
        <!-- <div class="logotext">ONLINE</div> -->
    </div>

    <div ng-if="!amonsterselected">
        <div class="topofcontent">


            <form class="item item-input">
                <i ng-hide="eggallow" class="icon icon-search placeholder-icon" style="color: #2C3E50;"></i>

                <input type="search" ng-show="!techsection && !descsection" ng-hide="eggallow" placeholder="Search Creatures..." class="searchsimp" ng-model="search.Monster">
                <input type="search" ng-show="techsection && !descsection" placeholder="Search Technology..." class="searchsimp" ng-model="search.Monster">
                <input type="search" ng-show="!techsection && descsection" ng-show="descsection" placeholder="Search Discoveries..." class="searchsimp" ng-model="search.Monster">

                <i ng-hide="eggallow" class="icon icon-filter placeholder-icon" ng-click="sortby($event, Monster)" style="color: #2C3E50; font-size: 26px; z-index: 9000;"></i>
            </form>

            <h5 class="unhatchedegghead" ng-if="eggallow && !techsection && !descsection">Your Unhatched Eggs</h5>
        </div>

        <div class="glitchbuster"></div>
        <div class="behind">
            <div class="specialcontent">
                <ion-content delegate-handle="scrollcon">

                    <div class="scrolleranchor2" id="top"></div>

                    <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
                    </ion-refresher>


                    <div ng-if="!eggallow && !techsection && !descsection">
                        <div class="blackcard" ng-repeat="usersRef in usersRefs | orderBy:propertyName | filter:search:strict" ng-if="usersRef.MonsterEnviroment" on-tap="openModal3(usersRef)" ng-init="dale2()" ng-class="{ 'goldfoil' : usersRef.MonsterRarity =='Mysterious', 'shinymode' : usersRef.shiny }" ng-show="usersRef.Monsterlvl" ng-style="{ 'display': visicheck }">

                            <div class="scrolleranchor" id="{{usersRef.barcode}}"></div>

                            <div class="collectorcircle" ng-if="usersRef.RemCollector">#{{usersRef.RemCollector}} / {{usersRef.Collector}}</div>

                            <div>
                                <div class="topbar">
                                    <i class="icon infavicon ion-bookmark" ng-if="usersRef.favourite"></i>

                                    <div class="name">
                                        <div class="actualname">

                                            <ion-content direction="x">
                                                {{usersRef.Monster}}
                                                <div class="morespacego" ng-if="usersRef.Monster.length >= 15"></div>
                                            </ion-content>

                                        </div>
                                    </div>

                                    <div class="monsterid">{{usersRef.MonsterRarity}}</div>
                                    <div class="monsterplanet">{{usersRef.MonsterEnviroment}}</div>
                                    <div class="sinytext3" ng-if="usersRef.shiny">SHINY</div>
                                </div>
                                <div class="monsterlvl">LVL.  <label ng-if="!usersRef.Monsterlvl">0</label><label ng-if="usersRef.Monsterlvl">{{usersRef.Monsterlvl}}</label></div>

                                <div class="monstertraded" ng-if="usersRef.Traded">Traded</div>

                                <div class="monsterimage" on-hold="addFav(usersRef)" style="background-color: #fff; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}}; filter: {{usersRef.shiny}}"></div>
                            </div>

                        </div>
                    </div>

                    <div ng-if="eggallow && !techsection && !descsection">
                        <div class="emptyeggfav" ng-if="eggscount == 0" ng-init="hideifnoneb()">You don't have any unhatched eggs</div>

                        <div class="blackcard" ng-repeat="usersRef in usersRefs | orderBy:propertyName | filter:search:strict" ng-if="usersRef.MonsterEnviroment" on-tap="openModal3(usersRef)" ng-show="!usersRef.Monsterlvl" ng-style="{ 'visibility': visicheck }" ng-class="{ 'goldfoil' : usersRef.MonsterRarity == 'Mysterious', 'shinymode' : usersRef.shiny }" ng-init="hideifnoneb()">

                            <div class="scrolleranchor" id="{{usersRef.barcode}}"></div>

                            <div class="collectorcircle" ng-if="usersRef.RemCollector">#{{usersRef.RemCollector}} / {{usersRef.Collector}}</div>

                            <div>
                                <div class="topbar">
                                    <div class="name">
                                        <div class="actualname">
                                            <ion-content direction="x">Unhatched Egg</ion-content>
                                        </div>
                                    </div>
                                    <div class="monsterid">{{usersRef.MonsterRarity}}</div>
                                    <div class="monsterplanet">{{usersRef.MonsterEnviroment}}</div>
                                </div>
                                <div class="monsterimage" on-hold="cantFav()" style="background-color: #fff; background-image: url('img/egg.jpg'), url(img/skull.gif); filter: {{usersRef.shiny}}"></div>
                                <div class="sinytext" ng-if="usersRef.shiny">SHINY</div>
                            </div>
                        </div>
                    </div>

                    <div ng-if="techsection && !descsection">
                        <div class="emptyeggfav" ng-if="techcount == 0">Scan on. You haven't found any tech yet.</div>

                        <div class="blackcard" ng-repeat="usersRef in usersRefs | orderBy:propertyName | filter:search:strict" ng-if="usersRef.Catagory == 'Technology' && techcount >= 1" on-tap="openModal3(usersRef)" ng-style="{ 'visibility': visicheck }" ng-class="{ 'goldfoil' : usersRef.MonsterRarity =='Mysterious' }">

                            <div class="scrolleranchor" id="{{usersRef.barcode}}"></div>

                            <div class="collectorcircle" ng-if="usersRef.RemCollector">#{{usersRef.RemCollector}} / {{usersRef.Collector}}</div>

                            <div>
                                <div class="topbar">
                                    <i class="icon infavicon ion-bookmark" ng-if="usersRef.favourite"></i>

                                    <div class="name">
                                        <div class="actualname">

                                            <ion-content direction="x">
                                                {{usersRef.Monster}}
                                                <div class="morespacego" ng-if="usersRef.Monster.length >= 15"></div>
                                            </ion-content>

                                        </div>
                                    </div>

                                    <div class="monsterid">{{usersRef.MonsterRarity}}</div>
                                    <div class="monsterplanet">{{usersRef.Type}}</div>
                                </div>
                                <div class="monsterlvl">LVL.  <label ng-if="!usersRef.Monsterlvl">0</label><label ng-if="usersRef.Monsterlvl">{{usersRef.Monsterlvl}}</label></div>
                                <div class="monsterimage" on-hold="addFav(usersRef)" style="background-color: #fff; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
                            </div>

                        </div>
                    </div>

                    <div ng-if="descsection && !techsection">
                        <div class="emptyeggfav" ng-if="desccount == 0">Scan on. You haven't made any discoveries yet.</div>

                        <div class="blackcard" ng-repeat="usersRef in usersRefs | orderBy:propertyName | filter:search:strict" ng-if="usersRef.Catagory == 'Discovery'  && desccount >= 1" on-tap="openModal3(usersRef)" ng-style="{ 'visibility': visicheck }" ng-class="{ 'goldfoil' : usersRef.MonsterRarity =='Mysterious' }">

                            <div class="scrolleranchor" id="{{usersRef.barcode}}"></div>

                            <div class="collectorcircle" ng-if="usersRef.RemCollector">#{{usersRef.RemCollector}} / {{usersRef.Collector}}</div>

                            <div>
                                <div class="topbar">
                                    <i class="icon infavicon ion-bookmark" ng-if="usersRef.favourite"></i>

                                    <div class="name">
                                        <div class="actualname">

                                            <ion-content direction="x">
                                                {{usersRef.Monster}}
                                                <div class="morespacego" ng-if="usersRef.Monster.length >= 15"></div>
                                            </ion-content>

                                        </div>
                                    </div>

                                    <div class="monsterid">{{usersRef.MonsterRarity}}</div>
                                    <div class="monsterplanet">{{usersRef.Type}}</div>
                                </div>
                                <div class="monsterlvl">LVL.  <label ng-if="!usersRef.Monsterlvl">0</label><label ng-if="usersRef.Monsterlvl">{{usersRef.Monsterlvl}}</label></div>
                                <div class="monsterimage" on-hold="addFav(usersRef)" style="background-color: #fff; background-image: url('{{usersRef.MonsterImg}}'), url(img/skull.gif); {{usersRef.CustomCss}};"></div>
                            </div>
                            b
                        </div>
                    </div>


                    <div class="spacebrickcore"></div>


                    <div class="emptycreat" ng-if="monstercount == 0" ng-hide="eggallow || techsection || descsection" ng-init="hideifnonea()">No Creatures Found. Press the icon on the circle tab to catch creatures.</div>

                    <div ng-if="!monstercount && !eggallow" ng-hide="hideifnone">
                        <ion-spinner icon="ripple" class="corehomerip"></ion-spinner>
                    </div>

                    <div ng-if="eggallow" ng-hide="hideifnonec">
                        <ion-spinner icon="ripple" class="corehomerip"></ion-spinner>
                    </div>

                </ion-content>
            </div>
        </div>
    </div>

    <div ng-if="amonsterselected" class="blackselect animated" ng-class="{slideInDown: !amonsterselected, slideInUp: amonsterselected,  'goldfoil' : Monsterrarity == 'Mysterious' }" on-swipe-down="closeModal2(Monstercode)">

        <div class="backhead" on-tap="imagetap()" ng-if="!egg && !Monstertype" style="background-color: #fff;  background-image: url({{Monsterimg}}), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}};">
        </div>

        <div class="backhead" on-tap="imagetap()" ng-if="egg && !Monstertype" style="background-color: #fff;  background-image: url(img/egg.jpg), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}};">
        </div>

        <div class="backhead" on-tap="imagetap()" ng-if="Monstertype" style="background-color: #fff;  background-image: url({{Monsterimg}}), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}};">
        </div>

        <div class="blackback animated" ng-if="bighead && !egg && !Monstertype" ng-class="{fadeOut: !bighead, fadeIn: bighead}">
            <div class="backheadbig" on-swipe-up="imagetap()" on-swipe-down="imagetap()" on-swipe-left="imagetap()" on-swipe-right="imagetap()" on-tap="imagetap()" style="background-color: #2C3E50;  background-image: url({{Monsterimg}}), url(img/skull.gif);  filter: {{Shiny}}; {{CustomCss}};" ng-pinch-zoom max-scale=“4”>
            </div>
        </div>

        <div class="blackback" ng-if="bighead && egg && !Monstertype" ng-class="{fadeOut: !bighead, fadeIn: bighead}">
            <div class="backheadbig" on-swipe-up="imagetap()" on-swipe-down="imagetap()" on-swipe-left="imagetap()" on-swipe-right="imagetap()" on-tap="imagetap()" style="background-color: #2C3E50;  background-image: url(img/egg.jpg), url(img/skull.gif); filter: {{Shiny}};">
            </div>
        </div>

        <div class="blackback" ng-if="bighead && Monstertype" ng-class="{fadeOut: !bighead, fadeIn: bighead}">
            <div class="backheadbig" on-swipe-up="imagetap()" on-swipe-down="imagetap()" on-swipe-left="imagetap()" on-swipe-right="imagetap()" on-tap="imagetap()" style="background-color: #2C3E50;  background-image: url({{Monsterimg}}), url(img/skull.gif); filter: {{Shiny}}; {{CustomCss}}">
            </div>
        </div>



        <div class="monstersname" ng-click="levelmonup(Monsterlvl, Monstername, Monsterimg, Monstercode, CustomCss)">
            <div class="moveup">
                <span ng-if="!egg"><i class="icon icon-whistle"></i></span>
                <span ng-if="egg && Monstertype"><i class="icon icon-whistle"></i></span>
                <span ng-if="egg && !Monstertype"><i class="icon greenhistle icon-whistle"></i></span>
            </div>
        </div>

        <div class="sinytext2" ng-if="Shiny">SHINY</div>

        <p class="littlemoreinfoc" ng-if="Monsterenvo"><label>{{Monstercode}}</label> A  {{Monsterenvo}} CREATURE</p>
        <p class="littlemoreinfoc" ng-if="!Monsterenvo && Catagory == 'Technology'"><label>{{Monstercode}}</label>{{Monstertype}} Tech</p>
        <p class="littlemoreinfoc" ng-if="!Monsterenvo && Catagory == 'Discovery'"><label>{{Monstercode}}</label>{{Monstertype}} Discovery</p>

        <h3 class="monsterartist" ng-if="!egg">Art by {{Monsterart}}</h3>

        <i class="icon flagreporticon icon-flag" ng-if="!egg" ng-click="makereport(Monstername)"></i>

        <div class="desccontent">
            <ion-content>
                <p class="monsterdesc" ng-if="!egg && !Monstertype">{{Monsterdesc}}</p>
                <p class="monsterdesc" ng-if="Monstertype">{{Monsterdesc}}</p>
                <p class="monsterdesc" ng-if="egg && !Monstertype">Train this egg in the Dojo to discover the creature within it. </p>

                <div class="spacebrick"></div>
            </ion-content>
        </div>

        <div class="traitcardm">
            <ion-content scroll="false">
              <ion-slides  options="options" slider="data.slider">

                <ion-slide-page ng-if="!myTraites || myTraites.length == 0" ng-click="assignTraite(Monstercode, Monsterenvo)">
                    <div class="notxxt">No Traits found, click to assign traits</div>
                </ion-slide-page>

                <ion-slide-page ng-repeat="myTraite in myTraites" ng-click="showtraite(myTraite)" on-hold="assignTraite(Monstercode, Monsterenvo)">
                    <div class="traitname">{{myTraite.Name}}</div>
                    <div class="traitstats">
                        <div class="row">
                            <div class="col">ATK {{myTraite.Attack}}</div>
                            <div class="col">DEF {{myTraite.Defense}}</div>
                            <div class="col">STN {{myTraite.Stun}}</div>
                        </div>
                    </div>
                    <div class="traitdesc">{{myTraite.Desc}}</div>
                </ion-slide-page>
              </ion-slides>
            </ion-content>
        </div>

        <div class="traitspace"></div>

        <span class="alivemonster" style="color: #27ae60" ng-show="Monsterstatus == true && !RemCount">Active</span>
        <span class="collectorinfo" ng-show="RemCount">Collectors Edition <br /><span class="collectornum">{{RemCount}} / {{Count}}</span></span>
        <span class="alivemonster" style="color: #7f8c8d" ng-show="Monsterstatus == false && !RemCount">Extinct</span>

        <div class="backblack"></div>
        <i class="icon icon-open removemonster" on-tap="remove(Monstercode)"></i>


        <div class="therarity collectorrarirty" ng-click="openraritysearchmodal(Monstername, Monsterrarity)" ng-show="RemCount">{{Monsterrarity}}</div>

        <div class="therarity" ng-click="openraritysearchmodal(Monstername, Monsterrarity)" ng-if="Monsterrarity == 'Uncommon' || Monsterrarity == 'Super Rare' || Monsterrarity == 'Mysterious'" ng-show="!RemCount">{{Monsterrarity}}</div>

        <div class="therarity middler" ng-click="openraritysearchmodal(Monstername, Monsterrarity)" ng-if="Monsterrarity == 'Common' || Monsterrarity == 'Rare' && !RemCount" ng-show="!RemCount">{{Monsterrarity}}</div>


        <div class="rightlvl">Lvl. {{Monsterlvl}}</div>

        <div class="centerlvl">
            <h2 ng-if="!egg && !Monstertype" ng-class="{golongtextname : namelength >= 15 }">{{Monstername}}</h2>
            <h2 ng-if="egg && !Monstertype">Unhatched Egg</h2>
            <h2 ng-if="Monstertype">{{Monstername}}</h2>
            <h2 ng-if="usersRef.Monsterlvl">{{usersRef.Monsterlvl}}</h2>
        </div>

        <i class="icon djolo ion-ios-close-empty" ng-click="closeModal2(Monstername)"></i>

    </div>

    <div ng-if="levelup" class="levelup animated" on-swipe-down="untap()" ng-class="{slideInUp: levelup}">
        <div ng-if="delayer" class="delayer animated fadeIn">

            <i class="icon littlearrowdowndojo ion-arrow-down-b" ng-click="untap()"></i>
            <h2 class="clickrem">{{tapcount}}</h2>
            <h2 class="name">Clicks Remaining</h2>

            <div class="clickoverlay" on-tap="tap(Monsterlvl, Monstername, Monstercode, Monsterimg, CustomCss)"></div>

            <div class='coin' ng-if="!egg && !Monstertype">
                <div class='front jump'>
                    <div class="middlelvl" style="background-image: url({{Monsterimg}}), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}} !important;"></div>
                    <div class='star'></div>
                    <span class='currency'></span>
                </div>
                <div class='shadow'></div>
            </div>

            <div class='oldmateegg' ng-if="egg && !Monstertype">
                <div class="middlelvl middlelvlegg jump" style="background-image: url(img/eggfloat.png); filter: {{Shiny}}"></div>
                <div class='shadow'></div>
            </div>

            <div class='coin' ng-if="Monstertype">
                <div class='front jump'>
                    <div class="middlelvl" style="background-image: url({{Monsterimg}}), url(img/skull.gif); {{CustomCss}}; filter: {{Shiny}}"></div>
                    <div class='star'></div>
                    <span class='currency'></span>
                </div>
                <div class='shadow'></div>
            </div>



            <h3 class="level" ng-if="!egg">Level {{Monsterlvl}}</h3>
            <h3 class="level" ng-if="egg">Level 0</h3>
            <h4 class="clicks" ng-if="!egg">{{Monstername}}</h2>
            <h4 class="clicks" ng-if="egg">Unhatched Egg</h2>

      </div>
    </div>
</ion-view>
