<div ng-cloak>
<ion-view title="{{monster.name}}" class="monstersdetail" >
  <ion-content>
    <div class="topback">

    <center>
      <div class="mainimg" style="background-image: url('{{monster.imgurl}}')">
      </div>
      <h1>{{monster.name}}</h1>
      <p>{{monster.desc}}</p>
    </div>
    <div class="posted"> Posted By <br /><label>{{monster.user}}</label></div>v
    <div class="art"> Art By <br /><label>{{monster.artist}}</label></div>
    </center>
    
    <div class="sidebox">
      <label class="caught">{{monster.id}}</label> 
      <label class="caughtexp">Caught</label> 
    </div>

  </ion-content>
</ion-view>
</div>