<ion-view title="No Internet Connection" class="offline" >

<h1><b>Venator is connecting to the internet.</b> <br /><br /> Offline access is coming to Venator shortly <br /><br />If this takes to long, try opening and closing the application.</h1>

<center>
  <ion-spinner class="spinner" icon="lines"></ion-spinner>
</center>

<img src="img/offline.png" />
</ion-view>