<ion-view class="friends" hide-nav-bar="true">

  	<script id="planeta.html" type="text/ng-template">
  		<ion-modal-view class="settings planetmodal" style="background-image: url({{planetimage}})">

	        <button class="button button-icon icon ion-ios-close-empty" on-tap="closea()" style="color: #EEECE6 !important;"></button>
	     	<h1>{{originplanet}}</h1>
	     	<h2>{{english}} Faction</h2>

	     	<button class="settle" ng-if="myplanet2 == originplanet">Your Planet</button>

	     	<button class="settle" on-tap="addstate()" ng-hide="myplanet2 == originplanet">Settle on planet</button>

	  	</ion-modal-view>
	</script>

  	<script id="stationsheet.html" type="text/ng-template">
  		<ion-modal-view class="stationmodal">

	        <button class="button button-icon icon ion-ios-close-empty" ng-if="!tradeselected && !giftmode" on-tap="closesheet()"></button>

	        <div ng-if="!tradeselected">
	     		<h1 ng-class="{'goodbyelmao' : tradeselected || giftmode }">Welcome to the International Trade Station.</h1>
	     		<p ng-class="{'goodbyelmao' : tradeselected || giftmode }">Hand a creature into the space station to receive a random creature of the same rarity. <br /><br /> If you obtain a creature through the I.T.S. you will not be able to trade it</p>
	     	</div>

	     	<div class="allcreature" ng-class="{'tradecontent' : tradeselected || giftmode }">

	     		<div ng-if="tradeselected && !giftmode && !acceptgiftmode" class="selectedMonster">
	     			<h2 ng-class="{ 'goldfoiltxt' : selectedMonsterRarity == 'Mysterious'}" ng-if="showh2">&bull; <span class="shinylabel" ng-if="selectedMonsterShiny" >SHINY &</span>  {{selectedMonsterRarity}} &bull;</h2>
	     			<p>{{selectedMonsterDesc}}</p>
	     			<div class="monstercard centercard" style="background-image: url({{selectedMonsterImage}}), url(img/skull.gif); {{selectedMonsterCustomCss}}; filter: {{selectedMonsterShiny}}"></div>
	     			<h1>{{selectedMonster}}</h1>

	     			<button class="button1" ng-click="CancelISSTrade()">Cancel</button>
	     			<button class="button2" ng-click="ReleaseISSTrade(selectedMonsterCode)">Release</button>
	     		</div>

	     		<div ng-if="giftmode && !acceptgiftmode && !showcaughtcreature" class="selectedMonster">
	     			<h2>Creature Found....</h2>
	     			<p>Congratulations. The International Trading Alliance has agreed to bestow you with a gift.</p>
	     			<div class="monstercard centercard eggcard" style="background-image: url(img/eggfloat.png)"></div>
	     			<h1>A {{selectedMonsterRarity}} Creature</h1>

	     			<button class="button3" ng-click="unlockCreature(selectedMonsterRarity)">Unlock Creature</button>
	     		</div>

	     		<div ng-if="showcaughtcreature" class="selectedMonster">

	     			<h2 ng-class="{'hideRarity' : !showcaughtcreature }">&bull; {{unlockedRare}},

	     				<label ng-if="randomlevel >= 11 && randomlevel <= 15" style="color:#6B9362"><label class="littlelvl">lvl </label>{{randomlevel}}</label>
	     				<label ng-if="randomlevel >= 6 && randomlevel <= 10" style="color:#CA6924"><label class="littlelvl">lvl </label>{{randomlevel}}</label>
	     				<label ng-if="randomlevel >= 1 && randomlevel <= 5" style="color:#D24D57"><label class="littlelvl">lvl </label>{{randomlevel}}</label>

	     			&bull;</h2>

	     			<p>{{unlockedDesc}}</p>
	     			<div class="monstercard centercard" style="background-image: url({{unlockedImage}}), url(img/skull.gif); {{unlockedCustomCSS}}"></div>
	     			<h1>{{unlockedCreature}}</h1>

	     			<button class="button3" ng-click="backHome()">Close</button>
	     		</div>

	     		<div ng-if="!tradeselected && !giftmode && !acceptgiftmode" class="speciallowcontent">

	     			<div class="isuckatthis"  ng-if="monteamount >= 50"></div>

		     		<div class="goldbutton" ng-if="monteamount >= 50" ng-click="tradeexchange(monteamount)">
		     			Exhange
		     			<span ng-if="monteamount >= 50 && monteamount <= 200">☫50 for a <u>Common</u></span>
		     			<span ng-if="monteamount >= 201 && monteamount <= 500">☫200 for a <u>Uncommon</u></span>
		     			<span ng-if="monteamount >= 501 && monteamount <= 800">☫500 for a <u>Rare</u></span>
		     			<span ng-if="monteamount >= 801 && monteamount <= 1000">☫800 for a <u>Super Rare</u></span>
		     			<span ng-if="monteamount >= 1001">☫1000 for a <u>Mysterious</u></span>
		     			creature
		     		</div>

		     		<ion-content>
		     			<div class="tpspacebrick" ng-if="monteamount >= 50"></div>
		     			<div class="monstercard"  ng-repeat="monsterarray in monsterarrays" style="background-image: url({{monsterarray.MonsterImg}}), url(img/skull.gif); {{monsterarray.CustomCss}};" ng-if="monsterarray.Monster && monsterarray.MonsterEnviroment && monsterarray.Monsterlvl && !monsterarray.Traded" ng-click="tradestation(monsterarray)" ng-class="{ 'goldfoilcirc' : monsterarray.MonsterRarity =='Mysterious', 'shinymodecirc' : monsterarray.shiny }"></div>

              <div class="ipadspacebrick"></div>
		     		</ion-content>

		     		<label class="nocreatures" ng-if="monstercount == 0">no creatures are available to be transferred</label>
	     		</div>

	  	</ion-modal-view>
	</script>

  <div class="planetspinner" ng-if="!phaserloaded">
  	<ion-spinner icon="ripple"></ion-spinner>
  </div>

  <div id="phaser-example"></div>
</ion-view>
