<ion-view class="friends" hide-nav-bar="true">

    <!-- <div class="row responsive-sm">
        <div class="col"><span class="monstertopsharetext biggertext2" style="text-align: center;">Planetary Systems are coming to Venator soon</span> </div>
      </div>
    <img src="img/morphplanet.png" class="planetexamp"> -->

  <div id="settlement"></div>
</ion-view>
