<ion-view view-title="Settings" class="settings" hide-nav-bar="true">

	<script id="tac.html" type="text/ng-template">
		<ion-modal-view class="settings">
		    <ion-header-bar class="modalhead">
		      <h1 class="title" style="text-transform: uppercase; color: #2C3E50; font-family: bold;">Terms & Conditions</h1>
		      <button class="button button-icon icon ion-ios-close-empty" on-tap="closetac()" style="color: #2C3E50;"></button>
		    </ion-header-bar>
		    <ion-content class="legal">
		      	<h1>Terms and Conditions</h1>

				<p><b>Intro:</b> Welcome to my application, Venator (or 'The App'). This App is published by or on behalf of myself, William Fischer ("William" or "me" or “myself“)</p>

				<p>By downloading or otherwise accessing Venator you agree to be bound by the following terms and conditions (“Terms“). If you have any queries about Venator or these Terms, you can contact me by any of the means set out in paragraph 11 of these Terms. If you do not agree with these Terms, you should stop using Venator immediately.</p>

				<p>Venator is made available for your own, personal use. The App must not be used for any commercial purpose whatsoever or for any illegal or unauthorised purpose. When you use the App you must comply with all applicable UK laws and with any applicable international laws, including the local laws in your country of residence (together referred to as “Applicable Laws”).</p>

				<p>You agree that when using the App you will comply with all Applicable Laws and these Terms. In particular, but without limitation, you agree not to:
				<ul>
				<li>(a) Use the App in any unlawful manner or in a manner which promotes or encourages illegal activity including (without limitation) copyright infringement; or</li>

				<li>(b) Attempt to gain unauthorised access to the App or any networks, servers or computer systems connected to the App; or</li>

				<li>(c) Post any content in the app that you do not own or do not have legal permission for. Venator takes no responsibitly in the copyright repercutions of the photos posted within the app. Each user is responsible for the photos they post; or</li>

				<li>(d) Modify, adapt, translate or reverse engineer any part of the App or re-format or frame any portion of the pages comprising the App, save to the extent expressly permitted by these Terms or by law.</li>
				<ul>
				</p>
				<p>You agree to indemnify myself in full and on demand from and against any loss, damage, costs or expenses which they suffer or incur directly or indirectly as a result of your use of the App otherwise than in accordance with these Terms or Applicable Laws.</p>

				<p><b>Link to Third Parties:</b> The App may contain links to websites operated by third parties (“Third Party Websites“). Venator may monetise some of these links through the use of third party affiliate programmes. Notwithstanding such affiliate programmes, Future does not have any influence or control over any such Third Party Websites and, unless otherwise stated, is not responsible for and does not endorse any Third Party Websites or their availability or contents.</p>

				<p><b>Venator Privacy Policy:</b> Our full Privacy Policy can be found in the settings page of the app or the 'Privacy Policy' page our website, <a onclick="window.open('http://csoft.com.au/venator/index.html', '_system', 'location=yes'); return false;" href="#">Venator</a></p>

				<p><b>DISCLAIMER / LIABILITY:</b> USE OF THE APP IS AT YOUR OWN RISK. THE APP IS PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW: (A) FUTURE DISCLAIMS ALL LIABILITY WHATSOEVER, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE IN RELATION TO THE APP; AND (B) ALL IMPLIED WARRANTIES, TERMS AND CONDITIONS RELATING TO VENATOR (WHETHER IMPLIED BY STATUE, COMMON LAW OR OTHERWISE), INCLUDING (WITHOUT LIMITATION) ANY WARRANTY, TERM OR CONDITION AS TO ACCURACY, COMPLETENESS, SATISFACTORY QUALITY, PERFORMANCE, FITNESS FOR PURPOSE OR ANY SPECIAL PURPOSE, AVAILABILITY, NON INFRINGEMENT, INFORMATION ACCURACY, INTEROPERABILITY, QUIET ENJOYMENT AND TITLE ARE, AS BETWEEN FUTURE AND YOU, HEREBY EXCLUDED. IN PARTICULAR, BUT WITHOUT PREJUDICE TO THE FOREGOING, WE ACCEPT NO RESPONSIBILITY FOR ANY TECHNICAL FAILURE OF THE INTERNET AND/OR VENATOR; OR ANY DAMAGE OR INJURY TO USERS OR THEIR EQUIPMENT AS A RESULT OF OR RELATING TO THEIR USE OF THE APP. YOUR STATUTORY RIGHTS ARE NOT AFFECTED.</p>

				<p>Venator will not be liable, in contract, tort (including, without limitation, negligence), under statute or otherwise, as a result of or in connection with Venator, for any: (i) economic loss (including, without limitation, loss of revenues, profits, contracts, business or anticipated savings); or (ii) loss of goodwill or reputation; or (iii) special or indirect or consequential loss.</p>

				<p>Nothing in these Terms shall be construed as excluding or limiting the liability of Venator or its group companies for death or personal injury caused by its negligence or for any other liability which cannot be excluded by English law.</p>

				<p><b>Service Suspension:</b> Venator reserves the right to suspend or cease providing any services relating to the apps published by it, with or without notice, and shall have no liability or responsibility to you in any manner whatsoever if it chooses to do so.</p>

				<p><b>Competitions:</b> If you take part in any competition which is run in or through Venator, you agree to be bound by the rules of that competition and any other rules specified by Venator from time to time and by the decisions of Venator, which are final in all matters relating to the Competition. Venator reserves the right to disqualify any entrant and/or winner in its absolute discretion without notice in accordance with the Competition Rules.</p>

				<p><b>In-App Voucher Codes:</b> Any in-app voucher codes issued by Future may only be used in accordance with our Terms and Conditions for in-app voucher codes.</p>

				<p><b>General:</b> These Terms (as amended from time to time) constitute the entire agreement between you and Venator concerning your use of the App.</p>

				<p>Venator reserves the right to update these Terms from time to time. If it does so, the updated version will be effective immediately, and the current Terms are available through a link in the App to this page. You are responsible for regularly reviewing these Terms so that you are aware of any changes to them and you will be bound by the new policy upon your continued use of Venator. No other variation to these Terms shall be effective unless in writing and signed by an authorised representative on behalf of Venator.</p>

				<p>These Terms shall be governed by and construed in accordance with English law and you agree to submit to the exclusive jurisdiction of the English Courts.</p>

				<p>If any provision(s) of these Terms is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties (as reflected in the provision(s)) and all other provisions shall remain in full force and effect.</p>

				<p>Venator’s failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by Future in writing.</p>

				<p>Unless otherwise expressly stated, nothing in the Terms shall create any rights or any other benefits whether pursuant to the Contracts (Rights of Third Parties) Act 1999 or otherwise in favour of any person other than you, Future and its group of companies.</p>

				<p><b>Contact Us:</b> You can contact me, and the Venator team at contact@venatorapp.com</p>
		    </ion-content>
		</ion-modal-view>
	</script>

	<script id="pp.html" type="text/ng-template">
		<ion-modal-view class="settings">
		    <ion-header-bar class="modalhead">
		      <h1 class="title" style="text-transform: uppercase; color: #2C3E50; font-family: bold;">Privacy Policy</h1>
		      <button class="button button-icon icon ion-ios-close-empty" on-tap="closepp()" style="color: #2C3E50;"></button>
		    </ion-header-bar>
		    <ion-content class="legal">
		      	<h1>Privacy Policy</h1>
				<p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>

				<h3>What personal information do we collect from the people that visit our blog, website or app?</h3>

				<p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address or other details to help you with your experience.</p>

				<h3>When do we collect information?</h3>

				<p>We collect information from you when you register on our site or enter information on our site.</p>


				<h3>How do we use your information?</h3>

				<p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:<br />
				      • To personalize your experience and to allow us to deliver the type of content and product offerings in
				      which you are most interested.
				</p>
				<h3>How do we protect your information?</h3>

				<p>We do not use vulnerability scanning and/or scanning to PCI standards.<br />
				We only provide articles and information. We never ask for credit card numbers.<br />
				We do not use Malware Scanning.
				<br /><br />
				We do not use an SSL certificate
				   	 • We only provide articles and information. We never ask for personal or private information like names, email addresses, or credit card numbers.</li>
				    </ul>
				</p>
				<h3>Do we use 'cookies'?</h3>

				<p>We do not use cookies for tracking purposes
				<br /><br />
				You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.
				<br /><br />
				If you turn cookies off, some features will be disabled. that make your site experience more efficient and may not function properly.
				<br /><br />
				However, you will still be able to place orders .

				</p>

				<h3>Third-party disclosure</h3>

				<p>We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.</p>

				<h3>Third-party links</h3>

				<p>We do not include or offer third-party products or services on our website.</p>

				<h3>Google</h3>
				<p>Google's advertising requirements can be summed up by Google's Advertising Principles. They are put in place to provide a positive experience for users.<br />
				<a onclick="window.open('https://support.google.com/adwordspolicy/answer/1316548?hl=en@', '_system', 'location=yes'); return false;" href="#">Google's Advertising Principles</a></p>
				<p>We have not enabled Google AdSense on our site but we may do so in the future.</p>

				<h3>California Online Privacy Protection Act</h3>

				<p>CalOPPA is the first state law in the nation to require commercial websites and online services to post a privacy policy. The law's reach stretches well beyond California to require any person or company in the United States (and conceivably the world) that operates websites collecting Personally Identifiable Information from California consumers to post a conspicuous privacy policy on its website stating exactly the information being collected and those individuals or companies with whom it is being shared.<br />
				<a onclick="window.open('http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf', '_system', 'location=yes'); return false;" href="#">California Online Privacy Protection Act</a>
				<br /><br />
				According to CalOPPA, we agree to the following:
				Users can visit our site anonymously.
				Once this privacy policy is created, we will add a link to it on our home page or as a minimum, on the first significant page after entering our website.
				Our Privacy Policy link includes the word 'Privacy' and can easily be found on the page specified above.
				<br /><br />
				You will be notified of any Privacy Policy changes:<br />
				      • On our Privacy Policy Page
				<br /><br />
				Can change your personal information:<br />
				    	• By logging in to your account
				</p>

				<h3>How does our site handle Do Not Track signals?</h3>
				<p>We honor Do Not Track signals and Do Not Track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>

				<h3>Does our site allow third-party behavioral tracking?</h3>
				<p>It's also important to note that we do not allow third-party behavioral tracking</p>

				<h3>COPPA (Children Online Privacy Protection Act)</h3>

				When it comes to the collection of personal information from children under the age of 13 years old, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, United States' consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.
				<br /><br />
				We market to and collect information from children under 13.<br />
				<b>No</b>
				<br /><br />
				In order to remove your child's information please contact the following personnel:<br/>
				<b>William Fischer</b><br/>
				<b>williamfischer363@gmail.com</b><br />
				<br /><br />
				We adhere to the following COPPA tenants:<br />
				      • We will not require a child to disclose more infomration than is reasonably necessary to particapate in an activity.:<br />
				      • Parents can review their child's personal information, direct us to delete it, and refuse to allow any further collection or use of the child's information.:<br />
				      • Parents can agree to the collection and use of their child's information, but still not allow disclosure to third-parties unless that's part of the service.:<br />
				      • Parents can review, delete, manage or refuse with whom their child's information is shared through by mailing us a letter contacting us directly.:<br />
				      • We will notify parents directly before collecting PII from their kids. This includes what specific information you will want to collect and how it might be disclosed, a link to your online privacy policy, and how the parents can give their consent. Also, if the parent doesn't consent within a reasonable time, you will delete the parent's and child's online contact info from your records.:<br />
				      • Parents can give consent by sign a consent form and send it back to you via fax, mail, or electronic scan or contacting us directly.
				</p>

				<h3>Fair Information Practices</h3>

				<p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
				<br /><br />
				In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
				We will notify you via email<br />
				      • Within 7 business days
				<br /><br />
				We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
				<br /><br />
				</p>
				<h3>CAN SPAM Act</h3>

				<p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
				<br /><br />
				We collect your email address in order to:<br />
				      • Send information, respond to inquiries, and/or other requests or questions
				<br /><br />
				To be in accordance with CANSPAM, we agree to the following:<br />
				      • Not use false or misleading subjects or email addresses.<br />
				      • Identify the message as an advertisement in some reasonable way.<br />
				      • Include the physical address of our business or site headquarters.<br />
				      • Monitor third-party email marketing services for compliance, if one is used.<br />
				      • Honor opt-out/unsubscribe requests quickly.<br />
				      • Allow users to unsubscribe by using the link at the bottom of each email.<br />
				<br /><br />
				If at any time you would like to unsubscribe from receiving future emails, you can email us by following the instructions at the bottom of each email. We will promptly remove you from ALL correspondence.
				</p>

				<h3>Contacting Us</h3>

				<p>If there are any questions regarding this privacy policy, you may contact us using the information below.
				<br /><br />
				Venator<br />
				Gold Coast, Australia<br />
				contact@venatorapp.com<br />
				</p>
				<br /><br />
				<p style="text-align: center"><b><u>Last Edited on 2016-12-02</u></b></p>
		    </ion-content>
		</ion-modal-view>
	</script>

	<script id="contr.html" type="text/ng-template">
		<ion-modal-view class="settings">
		    <ion-header-bar class="modalhead">
		      <h1 class="title" style="text-transform: uppercase; color: #2C3E50; font-family: bold;">Contributors</h1>
		      <button class="button button-icon icon ion-ios-close-empty" on-tap="closecont()" style="color: #2C3E50;"></button>
		    </ion-header-bar>
		    <ion-content class="conttributorz">
					<h1>Application Designed and developed by <b>William Fischer</b></h1>
					<h2>Concept Inspiration derived from <a href="https://en.wikipedia.org/wiki/Skannerz">Scannerz</a></h2>
					<p>The following members of the Counter Strike community have been incremental in helping me grow this app</p>

					<ul ng-repeat="helper in helpers">
						<li>{{helper.name}}</li>
					</ul>

			 </ion-content>
		</ion-modal-view>
	</script>

	<h1>Settings</h1>

  <span class="backtri icon-uptri" ui-sref="tab.home"></span>

	<span class="settingsico icon-sidetri"></span>

	<button class="button contbutton" ui-sref="tab.bugger">Report A Bug</button>

	<div class="options">
    <label on-tap="logout()"><b>Logout</b></label> <br /><br />

	<label on-tap="opencont()">Contributors</label> <br />
	<label on-tap="opentac()">Terms & Conditions</label> <br />
	<label on-tap="openpp()">Privacy Policy</label> <br />
	<label ui-sref="tab.about">About</label> <br />
	</div>

</ion-view>
