<ion-view class="state">

  <ion-nav-title>
    <div class="bar">
        <div class="title optionaltitle">Select a Territory</div>
    </div>
  </ion-nav-title>

<ion-content direction="xy">
<div class="stateland" style="background-image: url(http://pre03.deviantart.net/2aa5/th/pre/i/2012/108/e/0/bay_map_by_sapiento-d4wo71w.jpg);">
	
</div>
</ion-content>

</ion-view>