<ion-tabs class="tabs-icon thetabs tabs-bottom pane tabs-standard" >

  <!-- Home Tab -->
  <ion-tab icon="icon-circle" href="#/tab/home" class="atab">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Monsters Tab -->
  <ion-tab icon="icon-square" href="#/tab/monsters" class="atab">
    <ion-nav-view name="tab-monsters"></ion-nav-view>
  </ion-tab>

  <!-- Planet Tab -->
  <ion-tab icon="icon-diamond" href="#/tab/planet" class="atab">
    <ion-nav-view name="tab-planet"></ion-nav-view>
  </ion-tab>

  <!-- Battle Tab -->
  <ion-tab icon="icon-triangle" href="#/tab/friend" class="atab">
    <ion-nav-view name="tab-friend"></ion-nav-view>
  </ion-tab>
  
  <!-- Dreamer Tab -->
  <ion-tab icon="icon-octogan" href="#/tab/dreamer" class="atab">
    <ion-nav-view name="tab-dreamer"></ion-nav-view>
  </ion-tab>

</ion-tabs>
