@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fgeqvh');
  src:  url('fonts/icomoon.eot?fgeqvh#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fgeqvh') format('truetype'),
    url('fonts/icomoon.woff?fgeqvh') format('woff'),
    url('fonts/icomoon.svg?fgeqvh#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-collect:before {
  content: "\e91c";
}
.icon-whistle:before {
  content: "\e91b";
}
.icon-creative:before {
  content: "\e91d";
}
.icon-bscanner:before {
  content: "\e91e";
}
.icon-flag:before {
  content: "\e915";
}
.icon-beast:before {
  content: "\e900";
}
.icon-chip:before {
  content: "\e917";
}
.icon-egg3:before {
  content: "\e918";
}
.icon-lander:before {
  content: "\e919";
}
.icon-Tickets:before {
  content: "\e91a";
}
.icon-open:before {
  content: "\e916";
}
.icon-time:before {
  content: "\e914";
}
.icon-level:before {
  content: "\e90e";
}
.icon-name:before {
  content: "\e90f";
}
.icon-rarity:before {
  content: "\e910";
}
.icon-type:before {
  content: "\e911";
}
.icon-file:before {
  content: "\e912";
}
.icon-filter:before {
  content: "\e913";
}
.icon-circle:before {
  content: "\e901";
}
.icon-diamond:before {
  content: "\e902";
}
.icon-friend:before {
  content: "\e903";
}
.icon-help:before {
  content: "\e904";
}
.icon-octogan:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e906";
}
.icon-semicircle:before {
  content: "\e907";
}
.icon-settings:before {
  content: "\e908";
}
.icon-sidetri:before {
  content: "\e909";
}
.icon-square:before {
  content: "\e90a";
}
.icon-triangle:before {
  content: "\e90b";
}
.icon-trophy:before {
  content: "\e90c";
}
.icon-uptri:before {
  content: "\e90d";
}
